.feature-block {
    position: relative;
    width: 150px;
    margin-right: 8px;
}

$feature-color:white;
.feature {
    position: relative;
    border: 1px solid white;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: $feature-color;
    text-shadow: 0px 0px 2px $feature-color, 0px 0px 2px $feature-color;
}

.feature:hover {
    font-weight: bold;
}

.clip {
    display: inline-block;
    background-color: white;
    line-height: 0px;
    clip-path: polygon(0% 100%, 90% 100%, 100% 60%, 100% 0%, 0% 0%, 0% 100%);
}

.container {
    display: inline-block;
    height: 36px;
    width: 150px;
    margin: 0px;
    background-color: black;
}

.container:hover {
    background-color: #172E47;
}

.feature-label {
    font-family: 'Electrolize', sans-serif;
    position: absolute;
    top: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

.bottomright {
    position: absolute;
    bottom: 0;
    right: 0;
}

.corner-bottom {
    position: absolute;
    width: 10px;
    bottom: 5px;
    right: -2px;
}

.corner-top {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 12px;
}

.active {
    background-color: #193319;
}

.disabled {
    background-color: #632E0B;
}