<div class="neocom-panel panel-orange">
    <table cellspacing="2px" cellpadding="0" width="100%">
        <tr>
            <td>
                <div>
                    <img class="machine-image" src="/assets/media/Creality3DEnder3Pro.png">
                </div>
            </td>
            <td>
                <div class="machine-data">
                    <div class="machine-label"><span name="label">{{node.label}}</span></div>
                    <div class="machine-model"><span name="model">{{node.model}}</span></div>
                    <div class="machine-characteristics"><span name="characteristics">{{node.characteristics}}</span></div>
                    <div *ngIf="!target">
                        <div class="machine-job" droppable [dropScope]="'JOB'" [dragOverClass]="'drag-over'" [dragHintClass]="'drag-hint'" (onDrop)="onDrop($event)"><span name="drop-job">PIEZA</span>
                        </div>
                    </div>
                    <div *ngIf="target" class="set-job">
                        <v1-pending-job-render [node]="target"></v1-pending-job-render>
                    </div>
                </div>
            </td>
            <td *ngIf="target">
                <v1-build-countdown-timer-panel [time]="target.part.buildTime"></v1-build-countdown-timer-panel>
                <div class="centered-container" style="margin-top: 16px;">
                    <button id="start-button" type="button" class="start-button" [disabled]="!target" (click)="startBuild()">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            &nbsp;&nbsp;Comenzar
                        </button>
                    <button id="clear-button" type="button" class="clear-button">
                            <i class="fa fa-times" aria-hidden="true"></i>
                            &nbsp;&nbsp;Clear
                        </button>
                </div>
            </td>
        </tr>
    </table>
</div>