<form #newModelForm="ngForm" class="new-model-panel" *ngIf="visible" autocomplete="off">
    <header>
        <div class="row header">
            <div class="panel-title header-title">
                <span>{{panelTitle}}</span>
            </div>
            <div class="button-container">
                <button cy-name="save-button" class="button ok-button" style="width: 150px;" [disabled]="!isFormValid(newModelForm.form.valid)" (click)="saveModel()">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    &nbsp;&nbsp;Guardar
                </button>
                <svg class="button-right-border" viewBox="0 0 100 100">
                    <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
                </svg>
                <svg class="button-right-clear" viewBox="0 0 100 100">
                    <path d="M100,100 L0,100 L100,0 L100,100" fill="black" />
                </svg>
                <svg class="button-left-border" viewBox="0 0 100 100">
                    <path d="M0,0 L0,100 L100,0 L0,0" fill="white" />
                </svg>
                <svg class="button-left-clear" viewBox="0 0 100 100">
                    <path d="M0,0 L0,100 L100,0 L0,0" fill="black" />
                </svg>
                <div *ngIf="isFormValid(newModelForm.form.valid)">
                    <svg class="button-right-mark ok-mark" viewBox="0 0 100 100">
                        <path d="M100,100 L0,100 L100,0 L100,100" />
                    </svg>
                    <svg class="button-left-mark ok-mark" viewBox="0 0 100 100">
                        <path d="M0,0 L0,100 L100,0 L0,0" />
                    </svg>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div cy-name="label" class="field left-margin">
            <span cy-field-label="label" cy-input-type="input" class="label">ETIQUETA</span><br>
            <div class="dsf-input-container label-width">
                <input id="label" name="modelLabel" type="text" class="dsf-input" required [(ngModel)]="model.label" minlength="3" maxlength="50" #label="ngModel">
                <svg class="corner-border" viewBox="0 0 100 100">
                    <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
                </svg>
                <svg class="corner-clear" viewBox="0 0 100 100">
                    <path d="M100,100 L0,100 L100,0 L100,100" fill="#180A16" />
                </svg>
                <div class="orangered-mark" [ngClass]="{'ng-valid': !label.invalid}">
                    <svg class="corner-mark" viewBox="0 0 100 100">
                        <path d="M100,100 L0,100 L100,0 L100,100" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="row">
            <div cy-name="price" class="field left-margin">
                <span cy-field-label="price" cy-input-type="input" class="label">PRECIO</span><br>
                <div class="dsf-input-container price-width">
                    <input name="price" type="number" class="dsf-input dsf-input-number" required [(ngModel)]="model.price" min="0.01" #price="ngModel">
                    <svg class="left-corner-border" viewBox="0 0 100 100">
                        <path d="M0,0 L0,100 L100,0 L0,0" fill="white" />
                    </svg>
                    <svg class="left-corner-clear" viewBox="0 0 100 100">
                        <path d="M0,0 L0,100 L100,0 L0,0" fill="#180A16" />
                    </svg>
                    <div [ngClass]="{'ng-valid': !price.invalid}">
                        <svg class="left-mark" viewBox="0 0 100 100">
                            <path d="M0,0 L0,100 L100,0 L0,0"  />
                        </svg>
                    </div>
                </div>
            </div>
            <div cy-name="stock" class="field left-margin">
                <span cy-field-label="stock" cy-input-type="input" class="label">NIVEL STOCK DESEADO</span><br>
                <div class="dsf-input-container price-width">
                    <input name="stock" type="number" class="dsf-input dsf-input-number" required [(ngModel)]="model.stockLevel" min="1" max="100" oninput="validity.valid||(value='');" #stock="ngModel">
                    <svg class="left-corner-border" viewBox="0 0 100 100">
                        <path d="M0,0 L0,100 L100,0 L0,0" fill="white" />
                    </svg>
                    <svg class="left-corner-clear" viewBox="0 0 100 100">
                        <path d="M0,0 L0,100 L100,0 L0,0" fill="#180A16" />
                    </svg>
                    <div [ngClass]="{'ng-valid': !stock.invalid}">
                        <svg class="left-mark" viewBox="0 0 100 100">
                            <path d="M0,0 L0,100 L100,0 L0,0"  />
                        </svg>
                    </div>
                </div>
            </div>
            <div cy-name="active" class="field">
                <span cy-field-label="active" cy-input-type="checkbox" class="label">ACTIVO</span><br>
                <div class="dsf-input-container stock-width">
                    <input name="active" type="checkbox" class="dsf-input checkbox-input" [(ngModel)]="model.active" #active="ngModel">
                </div>
            </div>
        </div>
        <!-- D R O P   P A N E L  -->
        <v1-drop-part-panel></v1-drop-part-panel>
    </section>
    <footer>
        <svg class="corner-border" viewBox="0 0 100 100">
            <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
        </svg>
        <svg class="corner-clear" viewBox="0 0 100 100">
            <path d="M100,100 L0,100 L100,0 L100,100" fill="#180A16" />
        </svg>
        <svg class="corner-mark blue-mark" viewBox="0 0 100 100">
            <path d="M100,100 L0,100 L100,0 L100,100" />
        </svg>
    </footer>
</form>