<form #newModelForm="ngForm" class="new-model-panel" *ngIf="visible" autocomplete="off">
    <header>
        <div class="row header">
            <div class="panel-title header-title">
                <span>/NUEVO MODELO/DEFINICION</span>
            </div>
            <div class="button-container">
                <button cy-name="save-button" class="button ok-button" style="width: 150px;" [disabled]="!isFormValid(newModelForm.form.valid)" (click)="saveModel()">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    &nbsp;&nbsp;Guardar
                </button>
                <svg class="button-right-border" viewBox="0 0 100 100">
                    <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
                </svg>
                <svg class="button-right-clear" viewBox="0 0 100 100">
                    <path d="M100,100 L0,100 L100,0 L100,100" fill="black" />
                </svg>
                <svg class="button-left-border" viewBox="0 0 100 100">
                    <path d="M0,0 L0,100 L100,0 L0,0" fill="white" />
                </svg>
                <svg class="button-left-clear" viewBox="0 0 100 100">
                    <path d="M0,0 L0,100 L100,0 L0,0" fill="black" />
                </svg>
                <div *ngIf="isFormValid(newModelForm.form.valid)">
                    <svg class="button-right-mark ok-mark" viewBox="0 0 100 100">
                        <path d="M100,100 L0,100 L100,0 L100,100" />
                    </svg>
                    <svg class="button-left-mark ok-mark" viewBox="0 0 100 100">
                        <path d="M0,0 L0,100 L100,0 L0,0" />
                    </svg>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div cy-name="label" class="field left-margin">
            <span cy-field-label="label" class="label">ETIQUETA</span><br>
            <div class="dsf-input-container label-width">
                <input id="modelLabel" name="modelLabel" type="text" class="dsf-input" required [(ngModel)]="model.label" minlength="3" maxlength="50" #modelLabel="ngModel">
                <svg class="corner-border" viewBox="0 0 100 100">
                    <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
                </svg>
                <svg class="corner-clear" viewBox="0 0 100 100">
                    <path d="M100,100 L0,100 L100,0 L100,100" fill="#180A16" />
                </svg>
                <div [ngClass]="{'ng-valid': !modelLabel.invalid}">
                    <svg class="corner-mark" viewBox="0 0 100 100">
                        <path d="M100,100 L0,100 L100,0 L100,100" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="row">
            <div cy-name="price" class="field left-margin">
                <span cy-field-label="price" class="label">PRECIO</span><br>
                <div class="dsf-input-container price-width">
                    <input name="modelPrice" type="number" class="dsf-input dsf-input-number" required [(ngModel)]="model.price" min="0" oninput="validity.valid||(value='');" #modelPrice="ngModel">
                    <svg class="corner-border" viewBox="0 0 100 100">
                        <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
                    </svg>
                    <svg class="corner-clear" viewBox="0 0 100 100">
                        <path d="M100,100 L0,100 L100,0 L100,100" fill="#180A16" />
                    </svg>
                    <div [ngClass]="{'ng-valid': !modelPrice.invalid}">
                        <svg class="corner-mark" viewBox="0 0 100 100">
                            <path d="M100,100 L0,100 L100,0 L100,100" />
                        </svg>
                    </div>
                </div>
            </div>
            <div cy-name="stock" class="field left-margin">
                <span cy-field-label="stock" class="label">NIVEL STOCK DESEADO</span><br>
                <div class="dsf-input-container price-width">
                    <input name="modelStock" type="number" class="dsf-input dsf-input-number" required [(ngModel)]="model.stockLevel" min="0" oninput="validity.valid||(value='');" #modelStock="ngModel">
                    <svg class="corner-border" viewBox="0 0 100 100">
                        <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
                    </svg>
                    <svg class="corner-clear" viewBox="0 0 100 100">
                        <path d="M100,100 L0,100 L100,0 L100,100" fill="#180A16" />
                    </svg>
                    <div [ngClass]="{'ng-valid': !modelStock.invalid}">
                        <svg class="corner-mark" viewBox="0 0 100 100">
                            <path d="M100,100 L0,100 L100,0 L100,100" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <!-- D R O P   P A N E L  -->
        <v1-drop-part-panel></v1-drop-part-panel>
    </section>
    <footer>
        <svg class="corner-border" viewBox="0 0 100 100">
            <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
        </svg>
        <svg class="corner-clear" viewBox="0 0 100 100">
            <path d="M100,100 L0,100 L100,0 L100,100" fill="#180A16" />
        </svg>
        <svg class="corner-mark" viewBox="0 0 100 100">
            <path d="M100,100 L0,100 L100,0 L100,100" fill="blue" />
        </svg>
    </footer>
</form>