.header {
    background-color: black;
}

.new-model-panel {
    position: fixed;
    border: 1px solid white;
    margin-right: 10px;
}

.button-container {
    position: relative;
    width: 150px;
    height: 50px;
    margin-right: 10px;
    margin-left: 20px;
}

.field-margins {
    margin-top: 10px;
}

.price-width {
    width: 100px;
}

.corner-mark .ng-valid {
    fill: green
}

.corner-mark .ng-invalid {
    fill: #180A16;
}

.ng-valid {
    fill: green
}

.ng-invalid {
    fill: #180A16;
}

.left-margin {
    margin-left: 10px;
}

.top-margin {
    margin-top: 10px;
}

.request-part {
    text-align: center;
    color: #808080;
    margin-bottom: 20px;
    border: 1px dashed;
    line-height: 50px;
}

.drag-over {
    background-color: greenyellow;
}

.drag-hint {
    border: 2px solid green;
}