.header {
    background-color: black;
}

.title {
    margin: auto;
    margin-left: 10px;
}

.new-model-panel {
    position: fixed;
    border: 1px solid white;
    width: 37%;
}

.button-container {
    position: relative;
    width: 150px;
    height: 50px;
    margin-right: 15px;
}

.field-margins {
    // margin-left: 20px;
    margin-top: 10px;
}

.dsf-input {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    border: 1px solid white;
    background-color: black;
    color: white;
    width: calc(100% - 2px);
    font-family: 'Mina';
}

.dsf-input-number {
    text-align: right;
}

.dsf-input-container {
    padding-left: 8px;
    padding-top: 2px;
    position: relative;
    font-size: 16px;
    line-height: 26px;
    // margin-right: 15px;
}

.label {
    margin-left: 10px;
}

.label-width {
    // width: 80%;
}

.price-width {
    width: 100px;
}

.corner-mark .ng-valid {
    fill: green
}

.corner-mark .ng-invalid {
    fill: #180A16;
}

.ng-valid {
    fill: green
}

.ng-invalid {
    fill: #180A16;
}

.left-margin {
    margin-left: 20px;
}

.top-margin {
    margin-top: 10px;
}

.request-part {
    text-align: center;
    color: #808080;
    margin-bottom: 20px;
    border: 1px dashed;
    line-height: 50px;
}

.drag-over {
    background-color: greenyellow;
}

.drag-hint {
    border: 2px solid green;
}