.column-missing-width {
    min-width: 40px;
}

.column-required-width {
    min-width: 40px;
}

.column-label-width {
    min-width: 50%;
}

.column-material-width {
    min-width: 50px;
}

.column-color-width {
    min-width: 150px;
}

.remove-width {
    margin-left: auto;
}

.remove-icon {
    height: 25px;
    margin-top: -10px;
}

.remove-icon:hover {
    fill: orange;
}