<!-- D E T A I L 4 R E Q U E S T  -->
<div id="{{getUniqueId()}}" *ngIf="getVariant() === '-DETAIL4REQUEST-'" class="row">
    <div class="field column-missing-width ">
        <span cy-name="missing" class="field-height part-missed-count" [ngClass]="{'has-missing': hasMissing()}">{{getMissing()}}</span>
    </div>
    <div class="field column-quantity-width ">
        <span cy-name="quantity" class="field-height part-required">{{getRequired()}}</span>
    </div>
    <div class="field column-label-width ">
        <span cy-name="label" class="field-height part-label">{{getLabel()}}</span>
    </div>
    <div class="field column-material-width ">
        <span cy-name="finishing" class="field-height part-material">{{getMaterial()}}/{{getColor()}}</span>
    </div>
</div>
<!-- N E W   R E Q U E S T  -->
<div id="{{getUniqueId()}}" *ngIf="getVariant() === '-NEW-REQUEST-'" class="row">
    <div class="field column-quantity-width ">
        <span cy-name="CANTIDAD" class="field-height part-required">{{getRequired()}}</span>
    </div>
    <div class="field column-price-width ">
        <span cy-name="PRECIO" class="field-height part-required">{{getPrice()}}</span>
    </div>
    <div class="field column-label-width ">
        <span cy-name="ETIQUETA" class="field-height part-label">{{getLabel()}}</span>
    </div>
    <div class="field column-material-width ">
        <span cy-name="TERMINACION" class="field-height part-material">{{getMaterial()}}/{{getColor()}}</span>
    </div>
    <div cy-name="remove-button" class="field remove-width right" (click)="removeContent()">
        <svg class="remove-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="36px" height="36px"><path d="M0 0h24v24H0z" fill="none"/><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/></svg>
    </div>
</div>