<div id="{{getUniqueId()}}" class="centered-container button-row">
    <div class=" button-container">
        <button class="button ok-button">
            <a cy-name="target-link" href="{{performExtraction()}}" target="_blank">
                <div>{{getLabel()}}</div>
            </a>    
        </button>
        <svg class="button-right-border" viewBox="0 0 100 100">
            <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
        </svg>
        <svg class="button-right-clear" viewBox="0 0 100 100">
            <path d="M100,100 L0,100 L100,0 L100,100" fill="#240F21" />
        </svg>
        <svg class="button-left-border" viewBox="0 0 100 100">
            <path d="M0,0 L0,100 L100,0 L0,0" fill="white" />
        </svg>
        <svg class="button-left-clear" viewBox="0 0 100 100">
            <path d="M0,0 L0,100 L100,0 L0,0" fill="#240F21" />
        </svg>
        <div>
            <svg class="button-right-mark off-mark" viewBox="0 0 100 100">
                <path d="M100,100 L0,100 L100,0 L100,100" />
            </svg>
            <svg class="button-left-mark off-mark" viewBox="0 0 100 100">
                <path d="M0,0 L0,100 L100,0 L0,0" />
            </svg>
        </div>
    </div>
</div>