@import "../../../../../styles/_scss_variables.scss";
a {
    color: $app-front-color;
    text-transform: uppercase;
    text-decoration: none;
}

.button {
    height: 80px;
    width: 200px;
}

.button-container {
    height: 80px;
    width: 200px;
    background-color: #172E47;
}