<!-- C A T A L O G   V A R I A N T -->
<div *ngIf="getVariant() === '-CATALOG-'">
    <div id="{{getUniqueId()}}" class="cornered-panel" [ngClass]="{'expanded-panel': isExpanded()}">
        <div class="row project-panel">
            <button cy-name="edit-button" class="edit-attributes button-disabled" style="padding-left: 5px;">
                <svg class="edit-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36px" height="36px">
                    <title>Editar valores pieza</title>
                    <path d="M0 0h24v24H0V0z" fill="none"/><path d="M17.63 7H6.37C3.96 7 2 9.24 2 12s1.96 5 4.37 5h11.26c2.41 0 4.37-2.24 4.37-5s-1.96-5-4.37-5zm0 8H6.37C5.09 15 4 13.63 4 12s1.09-3 2.37-3h11.26C18.91 9 20 10.37 20 12s-1.09 3-2.37 3zM7.24 13.06l-1.87-1.87-.7.7 2.57 2.57 4.22-4.22-.7-.7z"/>
                </svg>
            </button>
            <div class="row" style="width: 100%;" (click)="toggleExpanded()">
                <div cy-name="label" class="field label-width">
                    <div cy-field-label="label" class="label">PROYECTO</div>
                    <div cy-field-value="label" class="partcontainer-label">{{getProjectName()}}</div>
                </div>
                <div class="right">
                    <div cy-name="expand-button" class="arrow-box" style="padding-right: 10px;">
                        <svg [ngClass]="{'arrow-expanded': isExpanded()}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="36px" height="36px"><path d="M0 0h24v24H0z" fill="none"/><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="isExpanded()" class="project-expanded">
            <div class="node-panel" *ngFor="let item of getContainers()">
                <v1-part-container style="width: 100%;" *ngIf="item.getJsonClass() == 'PartContainer'" [container]="container" [node]="item" [variant]="'-CATALOG-'">
                </v1-part-container>
                <v1-model style="width: 100%;" *ngIf="item.getJsonClass() == 'Model'" [container]="container" [node]="item" [variant]="'-CATALOG-'">
                </v1-model>
            </div>
        </div>
        <svg class="left-corner-border" viewBox="0 0 100 100">
            <path d="M0,0 L0,100 L100,0 L0,0" fill="white" />
        </svg>
        <svg class="left-corner-clear" viewBox="0 0 100 100">
            <path d="M0,0 L0,100 L100,0 L0,0" fill="#180A16" />
        </svg>
        <svg class="left-mark orangered-mark" viewBox="0 0 100 100">
            <path d="M0,0 L0,100 L100,0 L0,0" />
        </svg>
    </div>
</div>