.node-panel {
    margin-bottom: 3px;
    opacity: 0.8;
}

.node-panel:hover {
    opacity: 1.0;
    background-color: #240F21
}

.body-box {
    width: 100%;
}

.project-expanded {
    padding-right: 4px;
    padding-bottom: 4px;
}