<div id="{{getUniqueId()}}" *ngIf="getVariant() === '-DETAIL4REQUEST-'" class="row">
    <h1>DEPRECATED</h1>
    <div class="field column-missing-width ">
        <span cy-name="FALTAN" class="field-height part-missed-count">{{getMissing()}}</span>
    </div>
    <div class="field column-required-width ">
        <span cy-name="PEDIDAS" class="field-height part-required">{{getRequired()}}</span>
    </div>
    <div class="field column-label-width ">
        <span cy-name="ETIQUETA" class="field-height part-label">{{getLabel()}}</span>
    </div>
    <div class="field column-material-width ">
        <span cy-name="MATERIAL" class="field-height part-material">{{getMaterial()}}</span>
    </div>
    <div class="field column-color-width ">
        <span cy-name="COLOR" class="field-height part-color">{{getColor()}}</span>
    </div>
</div>
<div id="{{getUniqueId()}}" *ngIf="getVariant() === '-REQUEST-CONTAINED-PARTS-'">
    <h1>DEPRECATED</h1>
    <div class="row part-panel" style="margin-bottom: 4px;">
        <div class="field count-width">
            <span cy-name="REQUERIDAS" class="field-height part-material">{{getRequired()}}</span>
        </div>
        <div class="field label-width">
            <span cy-name="ETIQUETA" class="field-height part-material">{{getLabel()}}</span>
        </div>
        <div class="field material-width">
            <span cy-name="MATERIAL" class="field-height part-material">{{getMaterial()}}</span>
        </div>
        <div class="field color-width">
            <span cy-name="COLOR" class="field-height part-color">{{getColor()}}</span>
        </div>
        <div cy-name="remove-button" class="field remove-width" (click)="removePart()">
            <svg class="remove-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="36px" height="36px"><path d="M0 0h24v24H0z" fill="none"/><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/></svg>
        </div>
    </div>
    <!-- <svg class="corner-border" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
    </svg>
    <svg class="corner-clear" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" fill="#180A16" />
    </svg>
    <svg class="corner-mark" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
    </svg> -->
</div>