// A P P L I C A T I O N   C O L O R S
$app-background-color: #180A16;
$app-front-color: white;
$app-font-color: white;
$app-font-family :'Open Sans';
$app-default-font-size: 14px;
$app-green-color: green;
$app-yellow-color: yellow;
$app-red-color:red;
$app-hr-color: white;
$app-botton-color: black;
$notifier-font: 'Open Sans';
$page-path-color: white;
$panel-title-color: white;
$inactive-node-color:#442D13;