// - B U T T O N S
.button {
    flex-grow: 1;
    border: 1px solid white;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Electrolize', sans-serif;
    text-transform: uppercase;
    text-shadow: 0px 0px 2px white, 0px 0px 2px white;
    position: relative;
    height: 50px;
    width: 150px;
    margin: auto;
}

.button-label {
    position: relative;
    top: -5px;
}

.button-icon {
    width: 22px;
    margin: auto;
    margin-right: 10px;
}

.button-right-border {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 16px;
}

.button-right-clear {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 14px;
}

.button-right-mark {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 10px;
}

.button-left-border {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 16px;
}

.button-left-clear {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 14px;
}

.button-left-mark {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 10px;
}

.ok-button:hover {
    background-color: green;
}

.ok-button:disabled {
    background-color: #333533;
}

.ok-button:hover:disabled {
    background-color: #D0D0D0;
}

.ok-mark {
    fill: green;
}

.orange-mark {
    fill: orangered;
}

.cancel-button:hover {
    background-color: red;
}

.cancel-button:hover:disabled {
    background-color: #D0D0D0;
}

.cancel-button:disabled {
    color: #D0D0D0;
}