// - F O R M   I T E M S   &   C O N T R O L S
$color-border-width: 6px;
$grey-border-color: #495057;
$yellow-border-color: #E6E600;
$form-item-valid: #42A948; // Green
$form-item-invalid: #A94442; // Red
.dsf-form-group {
    margin-bottom: 8px;
}

.dsf-form-control {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Mina';
    height: auto;
    line-height: 1.0;
    padding: 4px;
}

.dsf-form-label {
    font-weight: 900;
    font-size: 16px;
    padding-right: 8px;
}

.dsf-number {
    text-align: right;
}

.dsf-editable-form-item {
    border-radius: 6px;
    border: 1px solid #999999;
    border-left: $color-border-width solid $yellow-border-color;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: $grey-border-color;
    background-color: white;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-size: 16px;
    font-weight: 600;
    height: auto;
    line-height: 1.0;
}

.dsf-editable-form-item:focus {
    outline-offset: 0px;
}

.dsf-untouchable-form-item {
    border: 1px solid #CED4DA;
    border-left: $color-border-width solid #909090;
    color: $grey-border-color;
    background-clip: padding-box;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-size: 16px;
    font-weight: 600;
    height: auto;
    line-height: 1.0;
}

.novalidation-form-item {
    padding-left: 9px;
}

// - F O R M   V A L I D A T I O N S
.dsf-not-required {
    fill: yellowgreen;
}

.ng-valid {
    fill: green
}

.ng-invalid {
    fill: orangered;
}

.ng-invalid.required,
.ng-invalid[required] {
    fill: orangered
}

.ng-valid.required,
.ng-valid[required] {
    fill: green
}

// .ng-invalid:not(form) {
//     border-left: $color-border-width solid $form-item-invalid; // red
// }
// .no-style .ng-valid {
//     border-left: 1px solid #CCC;
// }
// .no-style .ng-invalid {
//     border-left: 1px solid #CCC;
// }
// - B U T T O N S
#centered-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.centered-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

$button-border-color: grey;
$green-button-color: #66FF66;
$submit-button-color: #66FF66;
$repeat-button-color: #47B347;
$cancel-button-color: #FF7733;
$clearform-button-color: #FF7733;
.btn {
    min-width: 50%;
}

.dsf-form-button {
    min-width: 30%;
    font-family: 'Prototype', sans-serif;
    font-size: 20px;
    line-height: 3;
}

.submit-button {
    background: transparent;
    border: 4px solid $submit-button-color;
    border-radius: 8px;
    color: $submit-button-color;
    margin-bottom: 16px;
    text-transform: UPPERCASE;
}

.submit-button:disabled {
    border: 4px solid #D0D0D0;
    color: #D0D0D0;
}

.submit-button:hover {
    background-color: $green-button-color;
    color: white;
}

.submit-button:hover:disabled {
    background: #D0D0D0;
    color: white;
}

.clearform-button {
    background: transparent;
    border: 4px solid $clearform-button-color;
    border-radius: 8px;
    color: $clearform-button-color;
    margin-bottom: 16px;
    text-transform: UPPERCASE;
}

.clearform-button:disabled {
    border: 4px solid #D0D0D0;
    color: #D0D0D0;
}

.clearform-button:hover {
    background: $clearform-button-color;
    color: white;
}

.clearform-button:hover:disabled {
    background: #D0D0D0;
    color: white;
}

.repeat-button {
    background: transparent;
    border: 4px solid $repeat-button-color;
    border-radius: 8px;
    color: $repeat-button-color;
    margin-bottom: 16px;
    text-transform: UPPERCASE;
}

.repeat-button:disabled {
    border: 4px solid #D0D0D0;
    color: #D0D0D0;
}

.repeat-button:hover {
    background-color: $repeat-button-color;
    color: white;
}

.repeat-button:hover:disabled {
    background: #D0D0D0;
    color: white;
}

// - B U T T O N S
.cancel-button:hover {
    background-color: orange;
}

// - F I E L D S
.dsf-input {
    margin: 0px;
    padding: 0px;
    padding-left: 1px;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    border: 1px solid white;
    background-color: black;
    color: white;
    width: calc(100% - 3px);
    font-family: 'Mina';
    border-radius: 5px;
    caret-color: white;
}

.dsf-input-drop {
    width: calc(100% - 0px);
}

.dsf-input-number {
    text-align: right;
}

.dsf-input-container {
    position: relative;
    font-size: 16px;
    line-height: 26px;
}