.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.notifier-box {
    position: relative;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 15px 15px 15px 50px;
    width: 380px;
    border-radius: 3px 3px 3px 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    background-size: 24px;
    box-shadow: 0 0 12px #999999;
    color: #FFFFFF;
}

.notifier-title {
    font-family: 'Electrolize';
    margin-bottom: 6px;
    font-size: 20px;
    font-weight: bold;
}

.notifier-message {
    font-family: 'Electrolize';
    font-size: 17px;
}