@import "./_scss_variables.scss";
html {
    font-size: 100%;
    line-height: 1rem;
}

body {
    background-color: $app-background-color;
    color: $app-font-color;
    font-family: $app-font-family, sans-serif;
    font-size: $app-default-font-size;
    margin-top: 0px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

hr {
    border-top: 1px solid $app-hr-color;
    border-bottom: 1px solid $app-hr-color;
    filter: blur(1px);
}

.page-path {
    font-family: $app-font-family, sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-top: 10px;
    text-transform: uppercase;
    text-shadow: 0px 0px 2px $page-path-color, 0px 0px 1px $page-path-color;
    color: $page-path-color;
    flex-grow: 1;
}

.panel-title {
    font-family: $app-font-family, sans-serif;
    font-weight: 100;
    font-size: 1.1rem;
    line-height: 1.1rem;
    text-transform: uppercase;
    text-shadow: 0px 0px 2px $panel-title-color, 0px 0px 1px $panel-title-color;
}

.header-title {
    font-family: $app-font-family, sans-serif;
    font-weight: 100;
    font-size: 1.1rem;
    line-height: 1.1rem;
    text-transform: uppercase;
    text-shadow: 0px 0px 2px white, 0px 0px 1px white;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: black;
    padding-left: 10px;
    flex-grow: 3;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.counter {
    color: green;
}

.notifier-box {
    position: relative;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 15px 15px 15px 50px;
    width: 380px;
    border-radius: 3px 3px 3px 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    background-size: 24px;
    box-shadow: 0 0 12px #999999;
    color: #FFFFFF;
}

.notifier-title {
    font-family: $notifier-font;
    margin-bottom: 6px;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5rem;
}

.notifier-message {
    font-family: $notifier-font;
    font-size: 17px;
}

.left {
    margin-right: auto;
}

.right {
    margin-left: auto;
}

.mandatory-field {
    color: red;
}

.invisible {
    display: none;
    visibility: hidden;
}