@import "./_scss_variables.scss";
.notifier-box {
    position: relative;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 15px 15px 15px 50px;
    width: 380px;
    border-radius: 3px 3px 3px 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    background-size: 24px;
    box-shadow: 0 0 12px #999999;
    color: #FFFFFF;
}

.notifier-title {
    font-family: $notifier-font;
    margin-bottom: 6px;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.3rem;
}

.notifier-message {
    font-family: $notifier-font;
    font-size: 1.1rem;
    line-height: 1.1rem;
}