.cornered-panel {
    font-family: 'Electrolize', sans-serif;
    border: 1px solid white;
    position: relative;
    margin-bottom: 4px;
}

.field {
    font-family: 'Electrolize', sans-serif;
    font-weight: bold;
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-left: 4px;
    margin-right: 8px;
}

.label {
    font-size: 9px;
}

.corner-border {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 16px;
}

.corner-clear {
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 16px;
}

.corner-mark {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 10px;
}

.corner-blue {
    fill: blueviolet;
}