.part-panel {
    width: 100%;
    font-family: 'Electrolize', sans-serif;
    border-top: 1px solid orange;
    border-bottom: 1px solid #A09D9D80;
}

.cornered-panel {
    font-family: 'Electrolize', sans-serif;
    border: 1px solid white;
}

.field {
    font-family: 'Electrolize', sans-serif;
    font-weight: bold;
    font-size: 17px;
    font-weight: bold;
    color: white;
    margin-left: 4px;
    margin-right: 8px;
}

.label {
    font-size: 9px;
}