<!-- R E Q U E S T   P A R T - L I S T   V A R I A N T -->
<div id="{{getUniqueId()}}" *ngIf="getVariant() === '-REQUEST-PART-LIST-'" draggable [dragData]="node" [dragScope]="'PART'" [dragClass]="'part-selected'">
    <div class="row part-panel">
        <div class="field label-width">
            <span cy-field-label="ETIQUETA" class="label">ETIQUETA</span><br>
            <span cy-field-value="ETIQUETA" class="field-height part-material">{{getLabel()}}</span>
        </div>
        <div class="field material-width">
            <span cy-field-label="MATERIAL" class="label">MATERIAL</span><br>
            <span cy-field-value="MATERIAL" class="field-height part-material">{{getMaterial()}}</span>
        </div>
        <div class="field color-width">
            <span cy-field-label="COLOR" class="label">COLOR</span><br>
            <span cy-field-value="COLOR" class="field-height part-color">{{getColor()}}</span>
        </div>
        <div class="field stock-width">
            <span cy-field-label="DISPONIBLE" class="label">DISPONIBLE</span><br>
            <span cy-field-value="DISPONIBLE" class="field-height part-stockAvailable">{{getStockAvailable()}}</span>
        </div>
    </div>
    <div>
        <svg class="corner-border" viewBox="0 0 100 100">
            <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
        </svg>
        <svg class="corner-clear" viewBox="0 0 100 100">
            <path d="M100,100 L0,100 L100,0 L100,100" fill="#180A16" />
        </svg>
        <svg class="corner-mark" viewBox="0 0 100 100">
            <path d="M100,100 L0,100 L100,0 L100,100" fill="greenyellow" />
        </svg>
    </div>
</div>
<!-- N E W   M O D E L   V A R I A N T -->
<div id="{{getUniqueId()}}" class="cornered-panel" *ngIf="getVariant() === '-NEW-MODEL-'" draggable [dragData]="node" [dragScope]="'PART'" [dragClass]="'part-selected'">
    <div class="row">
        <div class="field label-width">
            <span cy-field-label="ETIQUETA" class="label">ETIQUETA</span><br>
            <span cy-field-value="ETIQUETA" class="field-height part-material">{{getLabel()}}</span>
        </div>
        <div class="field left material-width">
            <span cy-field-label="MATERIAL" class="label">MATERIAL/COLOR</span><br>
            <span cy-field-value="MATERIAL" class="field-height part-material">{{getMaterial()}}/{{getColor()}}</span>
        </div>
        <!-- <div class="field color-width">
            <span cy-field-label="COLOR" class="label">COLOR</span><br>
            <span cy-field-value="COLOR" class="field-height part-color"></span>
        </div> -->
        <div class="field stock-width">
            <span cy-field-label="DISPONIBLE" class="label">DISPONIBLE</span><br>
            <span cy-field-value="DISPONIBLE" class="field-height part-stockAvailable">{{getStockAvailable()}}</span>
        </div>
    </div>
    <svg class="corner-border" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
    </svg>
    <svg class="corner-clear" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" fill="#180A16" />
    </svg>
    <svg class="corner-mark" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" fill="greenyellow" />
    </svg>
</div>
<!-- R E Q U E S T A B L E   I T E M S   V A R I A N T -->
<div id="{{getUniqueId()}}" class="cornered-panel" *ngIf="getVariant() === '-SELLABLE-ITEMS-'" draggable [dragData]="node" [dragScope]="'REQUEST-CONTENT'" [dragClass]="'part-selected'">
    <div class="row">
        <div class="field label-width">
            <span cy-field-label="label" class="label">ETIQUETA</span><br>
            <span cy-field-value="label" class="field-height part-material">{{getLabel()}}</span>
        </div>
        <div class="field left material-width">
            <span cy-field-label="material" class="label">MATERIAL/COLOR</span><br>
            <span cy-field-value="material" class="field-height part-material">{{getMaterial()}}/{{getColor()}}</span>
        </div>
        <div class="field stock-width">
            <span cy-field-label="partCount" class="label">DISPONIBLE</span><br>
            <span cy-field-value="partCount" class="field-height part-stockAvailable">{{getStockAvailable()}}</span>
        </div>
        <div class="field price-width">
            <span cy-field-label="price" class="label">PRECIO</span><br>
            <span cy-field-value="price" class="field-height part-stockAvailable">{{getPrice()}}</span>
        </div>
    </div>
    <svg class="corner-border" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
    </svg>
    <svg class="corner-clear" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" fill="#180A16" />
    </svg>
    <svg class="corner-mark greenyellow-mark" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" />
    </svg>
</div>
<!-- C A T A L O G   V A R I A N T -->
<div id="{{getUniqueId()}}" class="cornered-panel" *ngIf="getVariant() === '-CATALOG-'" draggable [dragData]="node" [dragScope]="'PART'" [dragClass]="'part-selected'">
    <div class="row">
        <div cy-name="edit-button" class="edit-attributes" (click)="toggleEdition()">
            <svg class="edit-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36px" height="36px"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M17.63 7H6.37C3.96 7 2 9.24 2 12s1.96 5 4.37 5h11.26c2.41 0 4.37-2.24 4.37-5s-1.96-5-4.37-5zm0 8H6.37C5.09 15 4 13.63 4 12s1.09-3 2.37-3h11.26C18.91 9 20 10.37 20 12s-1.09 3-2.37 3zM7.24 13.06l-1.87-1.87-.7.7 2.57 2.57 4.22-4.22-.7-.7z"/></svg>
        </div>
        <div class="save-modifications">
            <span>&nbsp;</span>
        </div>
        <div class="field material-width">
            <span cy-field-label="material" class="label">MATERIAL</span><br>
            <span cy-field-value="material" class="field-height part-material">{{getMaterial()}}</span>
        </div>
        <div class="field color-width">
            <span cy-field-label="color" class="label">COLOR</span><br>
            <span cy-field-value="color" class="field-height part-color">{{getColor()}}</span>
        </div>
        <div class="field stock-width">
            <span cy-field-label="stock" class="label">STOCK</span><br>
            <span cy-field-value="stock" class="field-height part-stock">{{getStockRequired()}}</span>
        </div>
        <div class="field stock-width">
            <span cy-field-label="stockAvailable" class="label">DISPONIBLE</span><br>
            <span cy-field-value="stockAvailable" class="field-height part-stockAvailable">{{getStockAvailable()}}</span>
        </div>
        <div class="field stock-width">
            <span cy-field-label="cost" class="label">COSTE</span><br>
            <span cy-field-value="cost" class="field-height part-cost">{{getCost()}}</span>
        </div>
        <div class="field stock-width">
            <span cy-field-label="price" class="label">PRECIO</span><br>
            <span cy-field-value="price" class="field-height part-price">{{getPrice()}}</span>
        </div>
        <div class="field active-width">
            <span cy-field-label="active" class="label">ACTIVA</span><br>
            <span cy-field-value="active" class="field-height part-active">{{getActive()}}</span>
        </div>
        <div cy-name="duplicate-button" class="field duplicate-width" (click)="duplicatePart()">
            <svg class="duplicate-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="36px" height="36px"><path d="M0 0h24v24H0z" fill="none"/><path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/></svg>
        </div>
    </div>
    <svg class="corner-border" viewBox="0 0 100 100"> -->
        <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
    </svg>
    <svg class="corner-clear" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" fill="#180A16" />
    </svg>
    <svg *ngIf="isActive()" class="corner-mark" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" fill="greenyellow" />
    </svg>
    <svg *ngIf="!isActive()" class="corner-mark" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" fill="orangered" />
    </svg>
</div>
<div id="{{getUniqueId()}}" class="cornered-panel" *ngIf="getVariant() === '-EDITABLE-PART-'">
    <form class="dsf-form" autocomplete="off">
        <div class="part-panel">
            <table width="100%" colspacing="0px" cellpadding="0px" border-spacing="0px">
                <tr>
                    <td>
                        <div class="edit-attributes" (click)="toggleEdition()">
                            <img src="/assets/media/edit_attributes-white-36dp.svg">
                        </div>
                    </td>
                    <td>
                        <div class="save-modifications" (click)="saveEditing()">
                            <img src="/assets/media/check_circle-white-36dp.svg">
                        </div>
                    </td>
                    <td>
                        <div class="field material-width">
                            <span cy-field-label="material" class="label">MATERIAL</span><br>
                            <span cy-field-value="material" class="field-height part-material">{{getMaterial()}}</span>
                        </div>
                    </td>
                    <td>
                        <div class="field color-width">
                            <span cy-field-label="color" class="label">COLOR</span><br>
                            <span cy-field-value="color" class="field-height part-color">{{getColor()}}</span>
                        </div>
                    </td>
                    <td>
                        <div class="field stock-width">
                            <span cy-field-label="stock" class="label">STOCK</span><br>
                            <input cy-field-value="stock" type="number" class="dsf-form-control dsf-editable-form-item dsf-number field-height part-stock-available" min="0" [(ngModel)]="editPart.stockLevel" name="stock">
                        </div>
                    </td>
                    <td>
                        <div class="field stock-width">
                            <span class="label">DISPONIBLE</span><br>
                            <input cy-field-value="color" type="number" class="dsf-form-control dsf-editable-form-item dsf-number field-height part-stock-available" min="0" [(ngModel)]="editPart.stockAvailable" name="stockAvailable">
                        </div>
                    </td>
                    <td>
                        <div class="field stock-width">
                            <span class="label">COSTE</span><br>
                            <input type="number" class="dsf-form-control dsf-editable-form-item dsf-number field-height part-stock-available" min="0" [(ngModel)]="editPart.cost" required name="cost">
                        </div>
                    </td>
                    <td>
                        <div class="field stock-width">
                            <span class="label">PRECIO</span><br>
                            <input type="number" class="dsf-form-control dsf-editable-form-item dsf-number field-height part-stock-available" min="0" [(ngModel)]="editPart.price" name="price">
                        </div>
                    </td>
                    <td>
                        <div class="field active-width">
                            <span class="label">ACTIVA</span><br>
                            <input type="checkbox" class="dsf-form-control dsf-editable-form-item dsf-number field-height part-stock-available" min="0" [(ngModel)]="editPart.active" name="active">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>