.part-stock-available {
    min-width: 50px;
    width: 60px;
}

.label-width {
    min-width: 35%;
    flex-grow: 1;
}

.material-width {
    min-width: 30%;
    flex-grow: 2;
}

.stock-width {
    width: 50px;
    max-width: 50px;
    float: right;
    flex-grow: 1;
}

.active-width {
    min-width: 90px;
}

.price-width {
    max-width: 35px;
    flex-grow: 1;
    float: right;
}

.active {
    fill: green;
}

.corner-aligment {
    position: relative;
    align-self: inherit;
    margin-left: auto;
}

.remove-part {
    width: 60px;
}

.duplicate-width {
    margin-left: auto;
}

.duplicate-icon {
    margin-top: 6px;
    height: 25px;
}

.duplicate-icon:hover {
    fill: greenyellow;
}

.checkbox-input {
    margin-top: 4px;
    height: 20px;
}

// - SAVE ICON
.save-button-enabled {
    fill: white;
}

.save-button-enabled:hover {
    fill: greenyellow;
}

.save-button-disabled {
    fill: gray;
}

.save-button-disabled:hover {
    fill: gray;
}

.save-icon-disabled {
    margin-top: 6px;
    height: 30px;
}

.numeric-input-width {
    width: 70px;
}