<!-- P A R T - L I S T   V A R I A N T -->
<div *ngIf="getVariant() === '-PART-LIST-'">
    <div class="part-panel">
        <table width="100%" colspacing="0px" cellpadding="0px" border-spacing="0px">
            <tr>
                <td>
                    <div (click)="toggleEdition()">
                        <img class="edit-attributes" src="/assets/media/edit_attributes-24px-white.svg">
                    </div>
                </td>
                <td>
                    <div class="field material-width">
                        <span class="label">MATERIAL</span><br>
                        <span name="material" class="field-height part-material">{{getMaterial()}}</span>
                    </div>
                </td>
                <td>
                    <div class="field color-width">
                        <span class="label">COLOR</span><br>
                        <span name="color" class="field-height part-color">{{getColor()}}</span>
                    </div>
                </td>
                <td>
                    <div class="field stock-width">
                        <span class="label">STOCK</span><br>
                        <span name="stock" class="field-height part-stock">{{getStockRequired()}}</span>
                    </div>
                </td>
                <td>
                    <div class="field stock-width">
                        <span class="label">DISPONIBLE</span><br>
                        <span name="stockAvailable" class="field-height part-stockAvailable">{{getStockAvailable()}}</span>
                    </div>
                </td>
                <td>
                    <div class="field stock-width">
                        <span class="label">COSTE</span><br>
                        <span name="cost" class="field-height part-cost">{{getCost()}}</span>
                    </div>
                </td>
                <td>
                    <div class="field stock-width">
                        <span class="label">PRECIO</span><br>
                        <span name="price" class="field-height part-price">{{getPrice()}}</span>
                    </div>
                </td>
                <td>
                    <div class="field active-width">
                        <span class="label">ACTIVA</span><br>
                        <span name="active" class="field-height part-active">{{getActive()}}</span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div *ngIf="getVariant() === '-EDITABLE-PART-'">
    <form #newPartForm="ngForm" class="dsf-form" autocomplete="off">
        <div class="part-panel">
            <table width="100%" colspacing="0px" cellpadding="0px" border-spacing="0px">
                <tr>
                    <td>
                        <div (click)="toggleEdition()">
                            <img class="edit-attributes" src="/assets/media/edit_attributes-24px-white.svg">
                        </div>
                    </td>
                    <td>
                        <div class="field material-width">
                            <span class="label">MATERIAL</span><br>
                            <span name="material" class="field-height part-material">{{getMaterial()}}</span>
                        </div>
                    </td>
                    <td>
                        <div class="field color-width">
                            <span class="label">COLOR</span><br>
                            <span name="color" class="field-height part-color">{{getColor()}}</span>
                        </div>
                    </td>
                    <td>
                        <div class="field stock-width">
                            <span class="label">STOCK</span><br>
                            <input type="number" class="dsf-form-control dsf-editable-form-item dsf-number field-height part-stock-available" min="0" [(ngModel)]="editPart.stockLevel" name="stock">
                        </div>
                    </td>
                    <td>
                        <div class="field stock-width">
                            <span class="label">DISPONIBLE</span><br>
                            <input type="number" class="dsf-form-control dsf-editable-form-item dsf-number field-height part-stock-available" min="0" [(ngModel)]="editPart.stockAvailable" name="stockAvailable">
                        </div>
                    </td>
                    <td>
                        <div class="field stock-width">
                            <span class="label">COSTE</span><br>
                            <input type="number" class="dsf-form-control dsf-editable-form-item dsf-number field-height part-stock-available" min="0" [(ngModel)]="editPart.cost" required name="cost">
                        </div>
                    </td>
                    <td>
                        <div class="field stock-width">
                            <span class="label">PRECIO</span><br>
                            <input type="number" class="dsf-form-control dsf-editable-form-item dsf-number field-height part-stock-available" min="0" [(ngModel)]="editPart.price" name="price">
                        </div>
                    </td>
                    <td>
                        <div class="field active-width">
                            <span class="label">ACTIVA</span><br>
                            <input type="checkbox" class="dsf-form-control dsf-editable-form-item dsf-number field-height part-stock-available" min="0" [(ngModel)]="editPart.active" name="active">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>