// .part {
//     font-family: 'Electrolize', sans-serif;
//     font-weight: bold;
//     font-size: 20px;
//     font-weight: bold;
//     color: white;
// }
.edit-attributes {
    width: 50px;
}

.save-attributes {
    width: 50px;
}

.save-disabled {
    fill: gray;
    opacity: 40%
}

.save-modifications {
    width: 50px;
    filter: invert(54%) sepia(16%) saturate(7150%) hue-rotate(85deg) brightness(123%) contrast(119%);
}

.part-stock-available {
    min-width: 50px;
    width: 60px;
}

.field-height {
    height: 20px;
}

.label-width {
    min-width: 35%;
}

.material-width {
    min-width: 280px;
}

.stock-width {
    width: 75px;
}

.active-width {
    min-width: 90px;
}

.price-width {
    width: 35px;
}

.active {
    fill: green;
}

.corner-aligment {
    position: relative;
    align-self: inherit;
    margin-left: auto;
}

.remove-part {
    width: 60px;
}

.duplicate-width {
    margin-left: auto;
}

.duplicate-icon {
    margin-top: 6px;
    height: 25px;
}

.save-icon-disabled {
    margin-top: 6px;
    height: 30px;
}

.save-icon {
    margin-top: 6px;
    height: 30px;
}

.save-icon:hover {
    margin-top: 6px;
    height: 30px;
    fill: green;
}

.duplicate-icon:hover {
    fill: greenyellow;
}