.part-panel {
    border: 1px solid white;
}

.part {
    font-family: 'Electrolize', sans-serif;
    font-weight: bold;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.edit-attributes {
    width: 60px;
}

.save-modifications {
    width: 60px;
    filter: invert(54%) sepia(16%) saturate(7150%) hue-rotate(85deg) brightness(123%) contrast(119%);
}

.part-stock-available {
    min-width: 50px;
    width: 60px;
    // margin-left: 10px;
}

.field-height {
    height: 20px;
}

.label-width {
    min-width: 350px;
}

.material-width {
    min-width: 60px;
}

.color-width {
    min-width: 200px;
}

.stock-width {
    min-width: 80px;
}

.active-width {
    min-width: 90px;
}

.corner-bottom {
    position: absolute;
    width: 13px;
    bottom: -1px;
    right: -8px;
    fill: orangered;
}

.active {
    fill: green;
}

.corner-aligment {
    position: relative;
    align-self: inherit;
    margin-left: auto;
}

.corner-border {
    position: absolute;
    bottom: 0px;
    right: -2px;
    width: 18px;
}

.corner-clear {
    position: absolute;
    bottom: 0px;
    right: -2px;
    width: 16px;
}

.corner-mark {
    position: absolute;
    bottom: 0px;
    right: -2px;
    width: 11px;
}

.remove-part {
    width: 60px;
}