<p>v1-edit-part-panel works!</p>
<form #editPartForm="ngForm" class="edit-part-panel" *ngIf="visible" autocomplete="off">
    <header>
        <div class="row header">
            <div class="header-title">
                <span>/PIEZA/EDICION</span>
            </div>
            <div class="button-container">
                <button cy-name="SAVE" class="button ok-button" style="width: 150px;" (click)="savePart()">
                        <span><img class="button-icon"src="/assets/media/done-white-36dp.svg"></span><span class="button-label">Guardar</span>
                </button>
                <svg class="button-right-border" viewBox="0 0 100 100">
                    <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
                </svg>
                <svg class="button-right-clear" viewBox="0 0 100 100">
                    <path d="M100,100 L0,100 L100,0 L100,100" fill="black" />
                </svg>
                <svg class="button-left-border" viewBox="0 0 100 100">
                    <path d="M0,0 L0,100 L100,0 L0,0" fill="white" />
                </svg>
                <svg class="button-left-clear" viewBox="0 0 100 100">
                    <path d="M0,0 L0,100 L100,0 L0,0" fill="black" />
                </svg>
                <div>
                    <svg class="button-right-mark ok-mark" viewBox="0 0 100 100">
                        <path d="M100,100 L0,100 L100,0 L100,100" />
                    </svg>
                    <svg class="button-left-mark ok-mark" viewBox="0 0 100 100">
                        <path d="M0,0 L0,100 L100,0 L0,0" />
                    </svg>
                </div>
            </div>
        </div>
    </header>
</form>