<div *ngIf="node.getJsonClass() == 'Separator'">
    <!-- <separator-render *ngIf="node.jsonClass == 'Separator'" [container]="container" [node]="node" [variant]="variant"></separator-render> -->
    <hr>
</div>
<div *ngIf="node.getJsonClass() != 'Separator'" (mouseenter)="mouseEnter(node)" (click)="toggleExpanded()" style="position: relative;">
    <div class="row node-panel body-box">
        <!-- BODY -->
        <div class="row body-box">
            <v1-part-container style="width: 100%;" *ngIf="node.getJsonClass() == 'PartContainer'" [container]="container" [node]="node" [variant]="variant"></v1-part-container>
            <v1-part style="width: 100%;" *ngIf="node.getJsonClass() == 'Part'" [container]="container" [node]="node" [variant]="variant"></v1-part>
            <v1-coil style="width: 100%;" *ngIf="node.getJsonClass() == 'Coil'" [container]="container" [node]="node" [variant]="variant"></v1-coil>
            <v1-request style="width: 100%;" *ngIf="node.getJsonClass() == 'Request'" [container]="container" [node]="node" [variant]="variant"></v1-request>
            <v1-pending-job style="width: 100%;" *ngIf="node.getJsonClass() == 'Job'" [container]="container" [node]="node" [variant]="variant">
            </v1-pending-job>
        </div>

        <!-- RIGHT ARROW -->
        <div *ngIf="node.isExpandable()" class="arrow-box">
            <img class="right-arrow" [ngClass]="{'neocom-arrow-expanded': isExpanded()}" src="/assets/res-ui/drawable/arrowright.png">
        </div>
        <!-- SEPARATOR WHEN NO RIGHT ARROW -->
        <!-- <div *ngIf="!node.isExpandable()" class="arrow-box">
            &nbsp;
        </div> -->
    </div>
    <!-- <svg class="corner-bottom" viewBox="0 0 100 100" [ngClass]="{'active': isActive()}">
        <path d="M100,100 L0,100 L100,0 L100,100" />
    </svg> -->
    <svg class="corner-top" viewBox="0 0 100 100" *ngIf="false">
        <path d="M0,0 L0,100 L100,0 L0,0" fill="orangered"/>
    </svg>
</div>