.part {
    font-family: 'Electrolize', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.field {
    display: inline-block;
    position: relative;
    top: -12px;
    margin-left: 4px;
    margin-right: 8px;
    ;
}

.label {
    font-size: 10px;
}

.current {
    font-family: 'Electrolize', sans-serif;
    font-size: 36px;
    color: green;
}

.previous {
    font-family: 'Electrolize', sans-serif;
    font-size: 36px;
    color: blue;
}

.part-image {
    width: 48px;
    height: 48px;
    margin-top: 1px;
}