.quantity-width {
    width: 46px;
}

.number-width {
    min-width: 35px;
}

.label-width {
    min-width: 44%;
}

.tiempo-const-width {
    min-width: 94px;
}

.job-priority-high {
    background-color: #330011;
}

.job-material-width {
    min-width: 200px;
}

.part-count-edit-width {
    min-width: 60px;
}

.part-count-width {
    min-width: 40px;
}

.job-part-count {
    width: 50px;
    height: 23px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Mina';
    line-height: 1.0;
    min-width: unset;
    background: black;
    color: white;
    border: 1px solid white;
    padding-left: 12px;
}

.building-label-width {
    min-width: 35%;
}

.last-field {
    margin-right: 4px;
}