.part-panel {
    border: 1px solid white;
    position: relative;
    margin-bottom: 2px;
}

.corner-border {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 18px;
}

.corner-clear {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 16px;
}

.corner-mark {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 11px;
}

.number-width {
    min-width: 35px;
}

.label-width {
    min-width: 44%;
}

.job-priority-high {
    background-color: #330011;
}