<!-- J O B - L I S T   V A R I A N T -->
<div id="{{getUniqueId()}}" class="cornered-panel" *ngIf="getVariant() === '-JOB-LIST-'" draggable [dragData]="getNode()" [dragScope]="'JOB'" [dragClass]="'job-selected'" [ngClass]="{'job-priority-high': getPriority()==1}">
    <div class="row">
        <div hidden cy-name="PRIORIDAD">{{getPriority()}}</div>
        <div cy-name="quantity" class="field number-width">
            <div cy-field-label="quantity" class="label">CANTIDAD</div>
            <div cy-field-value="quantity" class="field-height job-number">{{getAggregatedNumber()}}</div>
        </div>
        <div cy-name="job-label" class="field label-width">
            <div cy-field-label="job-label" class="label">ETIQUETA</div>
            <div cy-field-value="job-label" class="field-height job-label">{{getLabel()}}</div>
        </div>
        <div cy-name="material" class="field left job-material-width">
            <div cy-field-label="material" class="label">MATERIAL/COLOR</div>
            <div cy-field-value="material" class="part-material">{{getMaterial()}}/{{getColor()}}</div>
        </div>
        <div cy-name="buildTime" class="field-no-margin tiempo-const-width last-field">
            <div cy-field-label="buildTime" class="label">TIEMPO CONSTRUC.</div>
            <div cy-field-value="buildTime" class="part-buildtime">{{getBuildTime()}} min.</div>
        </div>
    </div>
    <svg class="corner-border" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
    </svg>
    <svg class="corner-clear" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" fill="#180A16" />
    </svg>
    <svg class="corner-mark blue-mark" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" />
    </svg>
</div>
<!-- B U I L D I N G   V A R I A N T -->
<div id="{{getUniqueId()}}" class="cornered-panel" *ngIf="getVariant() === '-BUILDING-JOB-'" draggable [dragData]="getNode()" [dragScope]="'JOB'" [dragClass]="'job-selected'">
    <div class="row">
        <form #editJobForm="ngForm">
            <div cy-name="quantity" class="field" *ngIf="isEditable()">
                <div cy-field-label="quantity" cy-input-type="input" class="label">CANTIDAD</div>
                <div class="dsf-input-container quantity-width">
                    <input cy-focus="mouseleave" name="quantity" type="number" class="dsf-input dsf-input-number" required [(ngModel)]="node['partCount']" (mouseleave)="onMouseLeave()" required min="1" max="100" oninput="validity.valid||(value='');" #quantity="ngModel">
                    <svg class="left-corner-border" viewBox="0 0 100 100">
                        <path d="M0,0 L0,100 L100,0 L0,0" fill="white" />
                    </svg>
                    <svg class="left-corner-clear" viewBox="0 0 100 100">
                        <path d="M0,0 L0,100 L100,0 L0,0" fill="#180A16" />
                    </svg>
                    <div [ngClass]="{'ng-valid': !quantity.invalid}">
                        <svg class="left-mark" viewBox="0 0 100 100">
                            <path d="M0,0 L0,100 L100,0 L0,0"  />
                        </svg>
                    </div>
                </div>
            </div>
        </form>
        <div class="column">
            <div *ngIf="!isEditable()">
                <div cy-name="quantity-data" class="field quantity-width">
                    <div cy-field-label="quantity-data" class="label">CANTIDAD</div>
                    <div cy-field-value="quantity-data" class="field-height job-label">{{getCopies()}}</div>
                </div>
            </div>
            <div cy-name="job-label" class="field building-label-width">
                <div cy-field-label="job-label" class="label">ETIQUETA</div>
                <div cy-field-value="job-label" class="field-height job-field-value">{{getLabel()}}</div>
            </div>
            <div class="row">
                <div cy-name="material" class="field right--- material-width---">
                    <div cy-field-label="material" class="label">MATERIAL/COLOR</div>
                    <div cy-field-value="material" class="part-material job-field-value">{{getMaterial()}}/{{getColor()}}</div>
                </div>
                <div cy-name="buildTime" class="field buildtime-width---">
                    <div cy-field-label="buildTime" class="label">TIEMPO</div>
                    <div cy-field-value="buildTime" class="part-buildtime job-field-value">{{getBuildTime()}}</div>
                </div>
            </div>
        </div>
    </div>
    <svg class="corner-border" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
    </svg>
    <svg class="corner-clear" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" fill="#180A16" />
    </svg>
    <svg class="corner-mark blue-mark" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" />
    </svg>
</div>