<div class="part">
    <img class="part-image" src="{{image}}">
    <div class="field">
        <span class="label">LABEL</span><br>
        <span name="label" class="part-label">{{node.label}}</span>
    </div>
    <div class="field">
        <span class="label">MATERIAL</span><br>
        <span name="material" class="part-material">{{node.material}}</span>
    </div>
    <div class="field">
        <span class="label">COLOR</span><br>
        <span name="color" class="part-color">{{node.colorCode}}</span>
    </div>
    <div class="field">
        <span class="label">BUILD TIME</span><br>
        <span name="buildtime" class="part-buildtime">{{node.buildTime}}</span>
    </div>
</div>