# - Ignore angular packages
node_modules/

# - Ignore generated code and data
.scannerwork/
coverage/
dist/

# - Ignore external utilities code folders
support/apisimulator-http-1.4/
support/apisimulator-http-1.6.1/
support/apisimulator-http-1.7/
support/sonar-scanner-4.4.0.2170-linux
support/**/*.log
