.completed-request {
    fill: green;
}

.open-request {
    fill: red;
}

.cornered-panel {
    margin-bottom: 4px;
    position: relative;
}

.label-width {
    min-width: 50%;
}

.corner-border {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 15px;
}

.corner-clear {
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 15px;
}

.corner-mark {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 9px;
}

.date-width {
    flex-grow: 6;
    min-width: 15%;
}

.float-top-right {
    position: absolute;
    top: 20px;
    right: 20px;
}

.label-column-width {
    min-width: 50%;
}

.column-missing-width {
    min-width: 40px;
}

.column-required-width {
    min-width: 40px;
}

.column-label-width {
    min-width: 50%;
}

.column-material-width {
    min-width: 50px;
}

.column-color-width {
    min-width: 150px;
}