<!-- S E L L A B L E   I T E M S -->
<div id="{{getUniqueId()}}" class="cornered-panel" *ngIf="getVariant() === '-SELLABLE-ITEMS-'" draggable [dragData]="node" [dragScope]="'REQUEST-CONTENT'" [dragClass]="'model-selected'">
    <div class="row" (click)="toggleDisplay()">
        <div class="field label-width">
            <div cy-field-label="label" class="label">ETIQUETA</div>
            <div cy-field-value="label" class="field-height part-material">{{getLabel()}}</div>
        </div>
        <div class="field left quantity-width">
            <div cy-field-label="partCount" class="label">NUMERO PIEZAS</div>
            <div cy-field-value="partCount" class="field-height part-material">{{getContentCount()}}</div>
        </div>
        <div class="field-no-margin price-width">
            <div cy-field-label="price" class="label">PRECIO</div>
            <div cy-field-value="price" class="field-height part-material">{{getPrice()}}</div>
        </div>
    </div>
    <div *ngIf="inside" cy-name="part-composition" class="field inside-panel">
        <div cy-field-label="price" class="label">COMPOSICION</div>
        <div *ngFor="let stack of getComposingParts()">
            <v1-part-stack [node]="stack" [variant]="'-MODEL-COMPOSITION-'"></v1-part-stack>
        </div>
    </div>
    <svg class="corner-border" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
    </svg>
    <svg class="corner-clear" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" fill="#180A16" />
    </svg>
    <svg class="corner-mark blueviolet-mark" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" />
    </svg>
</div>
<!-- C A T A L O G -->
<div id="{{getUniqueId()}}" class="cornered-panel" *ngIf="getVariant() === '-CATALOG-'">
    <div class="row">
        <button cy-name="edit-button" class="edit-attributes button-enabled" (click)="toggleEdition()">
            <svg class="edit-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36px" height="36px"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M17.63 7H6.37C3.96 7 2 9.24 2 12s1.96 5 4.37 5h11.26c2.41 0 4.37-2.24 4.37-5s-1.96-5-4.37-5zm0 8H6.37C5.09 15 4 13.63 4 12s1.09-3 2.37-3h11.26C18.91 9 20 10.37 20 12s-1.09 3-2.37 3zM7.24 13.06l-1.87-1.87-.7.7 2.57 2.57 4.22-4.22-.7-.7z"/></svg>
        </button>
        <div class="row" (click)="toggleDisplay()">
            <div cy-name="label" class="field label-width">
                <div cy-field-label="label" class="label">ETIQUETA</div>
                <div cy-field-value="label" class="field-height part-material">{{getLabel()}}</div>
            </div>
            <div cy-name="partCount" class="field left quantity-width">
                <div cy-field-label="partCount" class="label">NUMERO PIEZAS</div>
                <div cy-field-value="partCount" class="field-height part-material">{{getContentCount()}}</div>
            </div>
            <div cy-name="price" class="field price-width">
                <div cy-field-label="price" class="label">PRECIO</div>
                <div cy-field-value="price" class="field-height part-material">{{getPrice()}}</div>
            </div>
        </div>
    </div>
    <div *ngIf="inside" cy-name="part-composition" class="field inside-panel">
        <div cy-field-label="part-composition" class="label">COMPOSICION</div>
        <div class="row">
            <div class="field-no-margin part-stack-count-width">
                <span class="label">CANTIDAD</span><br>
            </div>
            <div class="field-no-margin part-stack-label-width">
                <span class="label">ETIQUETA</span><br>
            </div>
            <div class="field-no-margin part-stack-material-width">
                <span class="label">MATERIAL/COLOR</span><br>
            </div>
        </div>
        <div *ngFor="let stack of getComposingParts()">
            <v1-part-stack [node]="stack" [variant]="'-MODEL-COMPOSITION-'"></v1-part-stack>
        </div>
    </div>
    <svg class="corner-border" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
    </svg>
    <svg class="corner-clear" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" fill="#180A16" />
    </svg>
    <svg class="corner-mark" [ngClass]="{'red-mark': !isActive(), 'blueviolet-mark': isActive()}" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" />
    </svg>
</div>