.inside-panel {
    background-color: #361731;
}

.duplicate-width {
    margin-left: auto;
}

.label-width {
    min-width: 35%;
}

.quantity-width {
    width: 75px;
}

.price-width {
    width: 40px;
}

.quantity-width {
    width: 75px;
}

.part-stack-count-width {
    width: 50px;
}

.part-stack-label-width {
    min-width: 54%
}

.part-stack-material-width {
    width: 150px;
}