.inside-panel {
    background-color: #361731;
}

.duplicate-width {
    margin-left: auto;
}

.label-width {
    min-width: 35%;
}

.price-width {
    width: 35px;
}

.quantity-width {
    width: 75px;
}