.part-missed-count {
    color: red;
}

.column-missing-width {
    min-width: 40px;
}

.column-required-width {
    min-width: 40px;
}

.column-label-width {
    min-width: 50%;
}

.column-material-width {
    min-width: 50px;
}

.column-color-width {
    min-width: 150px;
}

.remove-icon {
    height: 25px;
    margin-top: -6px;
}

.remove-icon:hover {
    fill: orange;
}

.count-width {
    width: 46px;
}

.label-width {
    min-width: 54%
}

.material-width {
    width: 150px;
}

.color-width {
    width: 106px;
}

.field-small {
    font-size: 13px;
}