@import "../../../../styles/_scss_variables.scss";
.bar-graph {
    fill: white;
}

.graph-container {
    font-size: 0.6rem;
    line-height: 0.6rem;
    font-family: 'Electrolize', sans-serif;
    text-transform: uppercase;
    border: 1px solid darkviolet;
    width: 220px;
    height: 80px;
    color: blueviolet;
    position: relative;
    margin: 0px;
    padding: 0px;
    margin-right: 8px;
}

.no-chart-data {
    font-size: 2.0rem;
    font-weight: bold;
    font-family: $app-font-family;
    text-transform: uppercase;
    text-shadow: 0px 0px 2px blueviolet, 0px 0px 1px blueviolet;
    text-align: center;
    vertical-align: middle;
    line-height: 2.5rem;
}