.part-container-panel {
    width: 100%;
    font-family: 'Electrolize', sans-serif;
    cursor: pointer;
    border-top: 1px solid green;
    border-bottom: 1px solid #A09D9D80;
}

.save-disabled {
    fill: gray;
    opacity: 40%;
    visibility: hidden;
}

.label-width {
    min-width: 20em;
}

.buildTime-width {
    min-width: 4em;
}

.weight-width {
    min-width: 4em;
}

.model-file-width {
    min-width: 200px;
}

.image-width {
    margin-left: 76px;
}

.description-width {
    width: 390px;
}