.part-container-panel {
    width: 100%;
    font-family: 'Electrolize', sans-serif;
    cursor: pointer;
    border-bottom: 1px solid #A09D9D80;
}

.button-disabled {
    fill: gray;
    opacity: 40%;
    visibility: hidden;
}

.label-width {
    min-width: 20em;
}

.image-width {
    flex-grow: 1;
    margin-left: 76px;
}

.model-file-width {
    flex-grow: 1;
}

.description-width {
    width: 60%;
}