.part-panel {
    width: 100%;
    font-family: 'Electrolize', sans-serif;
    cursor: pointer;
}

.part {
    font-family: 'Electrolize', sans-serif;
    font-weight: bold;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.field {
    font-family: 'Electrolize', sans-serif;
    font-weight: bold;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-left: 4px;
    margin-right: 8px;
}

.label {
    font-size: 9px;
}