.confirmation-message {
    width: 280px;
    margin: 40px;
}

.button-container {
    position: relative;
    width: 150px;
    height: 50px;
}

.request-identifier {
    color: greenyellow;
    font-size: 23px;
}