<div class="feature-block" (click)="onClick()">
    <div class="feature clip">
        <div class="container" [ngClass]="{'active': node.active}"></div>
        <div class="label">{{node.label}}</div>
        <svg class="bottomright" viewBox="0 0 100 100" width="15px">
            <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
        </svg>
    </div>
    <svg class="corner" viewBox="0 0 100 100" *ngIf="node.active">
        <path d="M100,100 L0,100 L100,0 L100,100" fill="green" />
    </svg>
</div>