<div id="modal-content-wrapper">
    <div class="page-path" style="margin-top: 0px; margin-bottom: 15px;">/Inventory/New Part</div>
    <header id="modal-header">
        <h1 id="modal-title" class="dialog-title">Create a new PART</h1>
        <i *ngIf="downloading" class="fa fa-clog fa-spin ui-leftmargin" aria-hidden="true"></i>
    </header>
    <section id="modal-body">
        <!-- N E W   S E R V I C E   F O R M -->
        <form (ngSubmit)="onSubmit()" #newPartForm="ngForm" class="dsf-form" autocomplete="off">
            <table cellspacing="5px" cellpadding="5px">
                <!-- I D E N T I F I E R -->
                <tr>
                    <td>
                        <div class="dsf-tooltip">
                            <label class="dsf-form-label" for="label">ID</label>
                            <span class="tooltiptext tooltip-right">
                                Identificador único generado automaticamente.
                            </span>
                        </div>
                    </td>

                    <td><span class="dsf-form-control dsf-untouchable-form-item part-id">{{part.id}}</span>
                        <div *ngIf="development">
                            Field Class: {{spy.className}}<br>
                        </div>
                    </td>
                    <!-- <div [hidden]="label.valid || !label.dirty" class="alert alert-danger citamed-form-referencia" style="font-weight: 100;">
                        <div *ngIf="label.errors?.required">
                            Identificador es un campo requerido.
                        </div>
                        <div *ngIf="label.errors?.minlength">
                            Identificador debe tener al menos 5 carácteres.
                        </div>
                    </div> -->
                    <!-- </tr> -->
                    <!-- L A B E L -->
                    <!-- <tr> -->
                    <td>
                        <div class="dsf-tooltip">
                            <label class="dsf-form-label" for="label">Etiqueta</label>
                            <span class="tooltiptext tooltip-right">
                                Corresponde a un identificador unico en formato texto que es en identificador de referencia del producto.
                            </span>
                        </div>
                    </td>

                    <td>
                        <input type="text" class="dsf-form-control dsf-editable-form-item part-label" required [(ngModel)]="part.label" name="label" minlength="5" maxlength="32" (focusout)="onIdentificadorBlur()" #spy>
                    </td>
                </tr>
                <!-- D E S C R I P T I O N -->
                <tr>
                    <td>
                        <div class="dsf-tooltip">
                            <label class="dsf-form-label" for="label">Descripcion</label>
                            <span class="tooltiptext tooltip-right">
                                Descripción del producto.
                            </span>
                        </div>
                    </td>

                    <td>
                        <textarea cols="40" rows="5" class="dsf-form-control dsf-editable-form-item part-description" required [(ngModel)]="part.description" name="description" minlength="5" maxlength="400" (focusout)="onIdentificadorBlur()" #spy></textarea>
                    </td>
                </tr>
                <!-- C O S T -->
                <tr>
                    <td>
                        <div class="dsf-tooltip">
                            <label class="dsf-form-label" for="cost">Coste Fab.</label>
                            <span class="tooltiptext tooltip-right">
                                Es el coste de fabricación en euros.
                            </span>
                        </div>
                    </td>
                    <td>
                        <input type="number" class="dsf-form-control dsf-editable-form-item dsf-number part-cost" required [(ngModel)]="part.cost" name="cost" minlength="1" maxlength="10" #spy>
                    </td>
                    <!-- </tr> -->
                    <!-- P R I C E -->
                    <!-- <tr> -->
                    <td>
                        <div class="dsf-tooltip">
                            <label class="dsf-form-label" for="price">Precio.</label>
                            <span class="tooltiptext tooltip-right">
                                    Precio de venta al público con el iva incluido.
                                </span>
                        </div>
                    </td>
                    <td>
                        <input type="number" class="dsf-form-control dsf-editable-form-item dsf-number part-price" required [(ngModel)]="part.price" name="price" minlength="1" maxlength="10" #spy>
                    </td>
                    <!-- S T O C K   L E V E L -->
                    <tr>
                        <td>
                            <div class="dsf-tooltip">
                                <label class="dsf-form-label" for="stockLevel">Stock</label>
                                <span class="tooltiptext tooltip-right">
                                    Nivel de stock deseado.
                                </span>
                            </div>
                        </td>
                        <td>
                            <input type="number" class="dsf-form-control dsf-editable-form-item dsf-number part-price" required [(ngModel)]="part.stockLevel" name="stockLevel">
                        </td>
                    </tr>
                    <!-- I M A G E   P A T H -->
                    <tr>
                        <td>
                            <div class="dsf-tooltip">
                                <label class="dsf-form-label" for="imagePath">Imagen</label>
                                <span class="tooltiptext tooltip-right">
                                    URL de la foto de la pieza.
                                </span>
                            </div>
                        </td>
                        <td>
                            <input type="text" class="dsf-form-control dsf-editable-form-item part-price" required [(ngModel)]="part.imagePath" name="imagePath" minlength="1" maxlength="10" #spy>
                        </td>
                        <!-- </tr> -->
                        <!-- M O D E L   P A T H -->
                        <!-- <tr> -->
                        <td>
                            <div class="dsf-tooltip">
                                <label class="dsf-form-label" for="modelPath">Fichero Modelo</label>
                                <span class="tooltiptext tooltip-right">
                                    Nonmbre del fichero modelo a utilizar en la impresora para imprimir esta pieza.
                                </span>
                            </div>
                        </td>
                        <td>
                            <input type="text" class="dsf-form-control dsf-editable-form-item part-price" required [(ngModel)]="part.modelPath" name="modelPath" minlength="1" maxlength="10" #spy>
                        </td>
                    </tr>
            </table>
        </form>
    </section>
    <footer id="modal-footer">
        <div id="centered-container">
            <button type="submit" class="dsf-form-button submit-button form-button" [disabled]="!newPartForm.form.valid" (click)="actionFunction()">
                <i class="fa fa-check" aria-hidden="true"></i>
                &nbsp;&nbsp;Guardar Datos
              </button>
            <!-- </div> -->
            <!-- <div id="centered-container"> -->
            <button type="button" class="dsf-form-button cancel-button form-button" (click)="closeModal()">
                <i class="fa fa-times" aria-hidden="true"></i>
                &nbsp;&nbsp;Go Back/Cancel
              </button>
        </div>
    </footer>
</div>