<div id="modal-content-wrapper">
    <div class="page-path" style="margin-top: 0px; margin-bottom: 15px;">/Inventory/New Part</div>
    <header id="modal-header">
        <h1 id="modal-title" class="dialog-title">Create a new PART</h1>
        <i *ngIf="downloading" class="fa fa-clog fa-spin ui-leftmargin" aria-hidden="true"></i>
    </header>
    <section id="modal-body">
        <!-- N E W   S E R V I C E   F O R M -->
        <form (ngSubmit)="onSubmit()" #newPartForm="ngForm" class="dsf-form" autocomplete="off">
            <!-- I D E N T I F I E R -->
            <div class="dsf-form-group">
                <div class="dsf-tooltip">
                    <label for="label">ID</label>
                    <span class="tooltiptext tooltip-left">
                        Identificador único generado automaticamente.
                    </span>
                </div>

                <span class="dsf-form-control dsf-untouchable-form-item part-id">{{part.id}}</span>
                <div *ngIf="development">
                    Field Class: {{spy.className}}<br>
                </div>
                <!-- <div [hidden]="label.valid || !label.dirty" class="alert alert-danger citamed-form-referencia" style="font-weight: 100;">
                    <div *ngIf="label.errors?.required">
                        Identificador es un campo requerido.
                    </div>
                    <div *ngIf="label.errors?.minlength">
                        Identificador debe tener al menos 5 carácteres.
                    </div>
                </div> -->
            </div>
            <!-- L A B E L -->
            <div class="dsf-form-group">
                <div class="dsf-tooltip">
                    <label for="label">Etiqueta</label>
                    <span class="tooltiptext tooltip-right">
                        Corresponde a un identificador unico en formato texto que es en identificador de referencia del producto.
                    </span>
                </div>

                <input type="text" class="dsf-form-control dsf-editable-form-item part-label" required [(ngModel)]="part.label" name="label" minlength="5" maxlength="32" (focusout)="onIdentificadorBlur()" #spy>
                <!-- [ngClass]="{'d3-form-input-green': label.valid}" -->
                <div *ngIf="development">
                    Field Class: {{spy.className}}<br>
                </div>
                <!-- <div [hidden]="label.valid || !label.dirty" class="alert alert-danger citamed-form-referencia" style="font-weight: 100;">
                    <div *ngIf="label.errors?.required">
                        Identificador es un campo requerido.
                    </div>
                    <div *ngIf="label.errors?.minlength">
                        Identificador debe tener al menos 5 carácteres.
                    </div>
                </div> -->
            </div>
            <!-- D E S C R I P T I O N -->
            <div class="dsf-form-group">
                <div class="dsf-tooltip">
                    <label for="label">Descripcion</label>
                    <span class="tooltiptext tooltip-right">
                        Descripción del producto.
                    </span>
                </div>

                <textarea cols="40" rows="5" class="dsf-form-control dsf-editable-form-item part-label" required [(ngModel)]="part.description" name="description" minlength="5" maxlength="400" (focusout)="onIdentificadorBlur()" #spy></textarea>
                <!-- [ngClass]="{'d3-form-input-green': label.valid}" -->
                <div *ngIf="development">
                    Field Class: {{spy.className}}<br>
                </div>
                <!-- <div [hidden]="label.valid || !label.dirty" class="alert alert-danger citamed-form-referencia" style="font-weight: 100;">
                    <div *ngIf="label.errors?.required">
                        Identificador es un campo requerido.
                    </div>
                    <div *ngIf="label.errors?.minlength">
                        Identificador debe tener al menos 5 carácteres.
                    </div>
                </div> -->
            </div>
        </form>
    </section>
    <footer id="modal-footer">
        <div id="centered-container">
            <button type="submit" class="btn submit-button" [disabled]="!newPartForm.form.valid">
              <i class="fa fa-check" aria-hidden="true"></i>
              &nbsp;&nbsp;Guardar Datos
            </button>
        </div>
        <button mat-raised-button id="modal-action-button" (click)="actionFunction()">Logout</button>
        <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">Go back</button>
    </footer>
</div>