.dialog-title {
    font-family: 'Mina';
}

.row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.d3-form {
    font-family: 'Mina';
}

.form-group {
    margin-bottom: 1rem;
    margin-left: 8px;
    margin-right: 8px;
}

.form-control {
    padding: 4px;
    padding-left: 8px;
    line-height: 1.0;
    font-size: 20px;
}

.form-button {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Electrolize';
}

input {
    min-width: 260px;
}