.field-margins {
    margin-left: 10px;
}

.weight-width {
    width: 5em;
}

.path-width {
    width: 15em;
}

.small-field {
    min-width: 150px;
    width: 150px;
}

.button-container {
    position: relative;
    width: 150px;
    height: 50px;
}

.double-button {
    width: 315px;
}

.button-row {
    margin-top: 16px;
}