.dialog-title {
    font-family: 'Mina';
}

.row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.d3-form {
    font-family: 'Mina';
}

.form-group {
    margin-bottom: 1rem;
    margin-left: 8px;
    margin-right: 8px;
}

.form-control {
    padding: 4px;
    padding-left: 8px;
    line-height: 1.0;
    font-size: 20px;
}

.form-button {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Electrolize';
    flex-grow: 1;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
}

input {
    min-width: 260px;
}

.part-colorcode {
    font-size: 16px;
    font-weight: 600;
    font-family: "Mina";
    height: auto;
    line-height: 1;
    padding: 4px;
    border-radius: 6px;
}

.button-area {
    margin-top: 30px;
}