<div id="modal-content-wrapper">
    <header id="modal-header">
        <div class="page-path" style="margin-top: 0px; margin-bottom: 15px;">/Inventario/Nuevo Rollo</div>
    </header>
    <section id="modal-body">
        <!-- N E W   S E R V I C E   F O R M -->
        <form #newCoilForm="ngForm" class="dsf-form" autocomplete="off">
            <table cellspacing="5px">
                <!-- I D E N T I F I E R -->
                <tr>
                    <td>
                        <div class="dsf-tooltip">
                            <label class="dsf-form-label" for="label">ID</label>
                            <span class="tooltiptext tooltip-right">
                                Identificador único generado automaticamente.
                            </span>
                        </div>
                    </td>
                    <td><span id="coil-id" class="dsf-form-control dsf-untouchable-form-item coil-id">{{coil.id}}</span></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <!-- M A T E R I A L -->
                    <td>
                        <div class="dsf-tooltip">
                            <label class="dsf-form-label" for="label">Material<span style="color: red;">&nbsp;*</span></label>
                            <span class="tooltiptext tooltip-right">
                                El tipo de material del filamento.
                            </span>
                        </div>
                    </td>
                    <td>
                        <input id="coil-material" type="text" class="dsf-form-control dsf-editable-form-item coil-material" required [(ngModel)]="coil.material" name="material" minlength="1" maxlength="16" #spy>
                    </td>
                    <!-- C O L O R -->
                    <td>
                        <div class="dsf-tooltip">
                            <label class="dsf-form-label" for="label">Color<span style="color: red;">&nbsp;*</span></label>
                            <span class="tooltiptext tooltip-right">
                                El color del filamento.
                            </span>
                        </div>
                    </td>
                    <td>
                        <input id="coil-color" type="text" class="dsf-form-control dsf-editable-form-item coil-color" required [(ngModel)]="coil.color" name="color" minlength="1" maxlength="32" #spy>
                    </td>
                </tr>
                <tr>
                    <!-- W E I G H T -->
                    <td>
                        <div class="dsf-tooltip">
                            <label class="dsf-form-label" for="label">Peso<span style="color: red;">&nbsp;*</span></label>
                            <span class="tooltiptext tooltip-right">
                                El peso del rollo.
                            </span>
                        </div>
                    </td>
                    <td>
                        <input id="coil-weight" type="number" class="dsf-form-control dsf-number dsf-editable-form-item coil-weight" required [(ngModel)]="coil.weight" name="weight">
                    </td>
                </tr>
            </table>
        </form>
    </section>
    <footer id="modal-footer">
        <div class="centered-container button-area">
            <button id="repeat-button" type="submit" class="dsf-form-button repeat-button form-button" [disabled]="!newCoilForm.form.valid" (click)="saveCoilAndRepeat()">
                <i class="fa fa-check" aria-hidden="true"></i>
                &nbsp;&nbsp;Guardar y Repetir
            </button>
        </div>
        <div class="centered-container button-area">
            <button id="submit-button" type="submit" class="dsf-form-button submit-button form-button" [disabled]="!newCoilForm.form.valid" (click)="saveCoil()">
                <i class="fa fa-check" aria-hidden="true"></i>
                &nbsp;&nbsp;Guardar Datos
            </button>
            <button id="cancel-button" type="button" class="dsf-form-button clearform-button form-button" (click)="closeModal()">
                <i class="fa fa-times" aria-hidden="true"></i>
                &nbsp;&nbsp;Go Back/Cancel
            </button>
        </div>
    </footer>
</div>