<div cy-name="new-coil-dialog" id="modal-content-wrapper">
    <header id="modal-header">
        <div class="panel-title header-title">/Inventario/Nuevo Rollo</div>
    </header>
    <section id="modal-body">
        <!-- N E W   C O I L   F O R M -->
        <form #newCoilForm="ngForm" class="dsf-form" autocomplete="off">
            <div class="row">
                <!-- M A T E R I A L -->
                <div cy-name="material" class="field field-margins">
                    <span cy-field-label="material" cy-input-type="input" class="label">MATERIAL<span class="mandatory-field">&nbsp;*</span></span><br>
                    <div class="dsf-input-container material-width">
                        <input name="material" class="dsf-input" [(ngModel)]="coil.material" required minlength="2" maxlength="16" #material="ngModel">
                        <svg class="corner-border" viewBox="0 0 100 100">
                            <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
                        </svg>
                        <svg class="corner-clear" viewBox="0 0 100 100">
                            <path d="M100,100 L0,100 L100,0 L100,100" fill="#180A16" />
                        </svg>
                        <div [ngClass]="{'ng-valid': !material.invalid}">
                            <svg class="corner-mark" viewBox="0 0 100 100">
                                <path d="M100,100 L0,100 L100,0 L100,100" />
                            </svg>
                        </div>
                    </div>
                </div>
                <!--T R A D E M A R K -->
                <div cy-name="tradeMark" class="field field-margins">
                    <span cy-field-label="tradeMark" cy-input-type="input" class="label">MARCA<span class="mandatory-field">&nbsp;*</span></span><br>
                    <div class="dsf-input-container material-width">
                        <input name="tradeMark" class="dsf-input" [(ngModel)]="coil.tradeMark" required minlength="2" maxlength="32" #tradeMark="ngModel">
                        <svg class="corner-border" viewBox="0 0 100 100">
                            <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
                        </svg>
                        <svg class="corner-clear" viewBox="0 0 100 100">
                            <path d="M100,100 L0,100 L100,0 L100,100" fill="#180A16" />
                        </svg>
                        <div [ngClass]="{'ng-valid': !tradeMark.invalid}">
                            <svg class="corner-mark" viewBox="0 0 100 100">
                                <path d="M100,100 L0,100 L100,0 L100,100" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- C O L O R -->
                <div cy-name="color" class="field right">
                    <span cy-field-label="color" cy-input-type="input" class="label">COLOR<span class="mandatory-field">&nbsp;*</span></span><br>
                    <div class="dsf-input-container color-width">
                        <input name="color" class="dsf-input" [(ngModel)]="coil.color" required minlength="2" maxlength="32" #color="ngModel">
                        <svg class="corner-border" viewBox="0 0 100 100">
                            <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
                        </svg>
                        <svg class="corner-clear" viewBox="0 0 100 100">
                            <path d="M100,100 L0,100 L100,0 L100,100" fill="#180A16" />
                        </svg>
                        <div [ngClass]="{'ng-valid': !color.invalid}">
                            <svg class="corner-mark" viewBox="0 0 100 100">
                                <path d="M100,100 L0,100 L100,0 L100,100" />
                            </svg>
                        </div>
                    </div>
                </div>
                <!-- L A B E L -->
                <div cy-name="label" class="field right invisible">
                    <span cy-field-label="label" cy-input-type="input" class="label">ETIQUETA</span><br>
                    <div class="dsf-input-container color-width">
                        <input name="label" class="dsf-input" [(ngModel)]="coil.label" maxlength="50" #label="ngModel">
                        <svg class="corner-border" viewBox="0 0 100 100">
                            <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
                        </svg>
                        <svg class="corner-clear" viewBox="0 0 100 100">
                            <path d="M100,100 L0,100 L100,0 L100,100" fill="#180A16" />
                        </svg>
                        <div [ngClass]="{'ng-valid': !label.invalid}">
                            <svg class="corner-mark" viewBox="0 0 100 100">
                                <path d="M100,100 L0,100 L100,0 L100,100" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row centered-container">
                <!-- W E I G H T -->
                <div cy-name="weight" class="field">
                    <span cy-field-label="weight" cy-input-type="input" class="label">PESO<span class="mandatory-field">&nbsp;*</span></span><br>
                    <div class="dsf-input-container weight-width">
                        <input name="partWeight" type="number" class="dsf-input dsf-input-number" [(ngModel)]="coil.weight" required min="1" max="2000" oninput="validity.valid||(value='');" #partWeight="ngModel">
                        <svg class="left-corner-border" viewBox="0 0 100 100">
                            <path d="M0,0 L0,100 L100,0 L0,0" fill="white" />
                        </svg>
                        <svg class="left-corner-clear" viewBox="0 0 100 100">
                            <path d="M0,0 L0,100 L100,0 L0,0" fill="#180A16" />
                        </svg>
                        <div [ngClass]="{'ng-valid': !partWeight.invalid}">
                            <svg class="left-mark" viewBox="0 0 100 100">
                                <path d="M0,0 L0,100 L100,0 L0,0"  />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <footer id="modal-footer">
        <div class="centered-container button-row">
            <div class="button-container double-button">
                <button cy-name="repeat-button" type="submit" class="button ok-button double-button" [disabled]="!newCoilForm.form.valid" (click)="saveCoilAndRepeat()">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    &nbsp;&nbsp;Guardar y Repetir
                </button>
                <svg class="button-right-border" viewBox="0 0 100 100">
                    <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
                </svg>
                <svg class="button-right-clear" viewBox="0 0 100 100">
                    <path d="M100,100 L0,100 L100,0 L100,100" fill="#240F21" />
                </svg>
                <svg class="button-left-border" viewBox="0 0 100 100">
                    <path d="M0,0 L0,100 L100,0 L0,0" fill="white" />
                </svg>
                <svg class="button-left-clear" viewBox="0 0 100 100">
                    <path d="M0,0 L0,100 L100,0 L0,0" fill="#240F21" />
                </svg>
                <div *ngIf="newCoilForm.form.valid">
                    <svg class="button-right-mark ok-mark" viewBox="0 0 100 100">
                        <path d="M100,100 L0,100 L100,0 L100,100" />
                    </svg>
                    <svg class="button-left-mark ok-mark" viewBox="0 0 100 100">
                        <path d="M0,0 L0,100 L100,0 L0,0" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="centered-container button-row">
            <div class="button-container">
                <button cy-name="submit-button" type="submit" class="button ok-button" [disabled]="!newCoilForm.form.valid" (click)="saveCoil()">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    &nbsp;&nbsp;Guardar Datos
                </button>
                <svg class="button-right-border" viewBox="0 0 100 100">
                    <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
                </svg>
                <svg class="button-right-clear" viewBox="0 0 100 100">
                    <path d="M100,100 L0,100 L100,0 L100,100" fill="#240F21" />
                </svg>
                <svg class="button-left-border" viewBox="0 0 100 100">
                    <path d="M0,0 L0,100 L100,0 L0,0" fill="white" />
                </svg>
                <svg class="button-left-clear" viewBox="0 0 100 100">
                    <path d="M0,0 L0,100 L100,0 L0,0" fill="#240F21" />
                </svg>
                <div *ngIf="newCoilForm.form.valid">
                    <svg class="button-right-mark ok-mark" viewBox="0 0 100 100">
                        <path d="M100,100 L0,100 L100,0 L100,100" />
                    </svg>
                    <svg class="button-left-mark ok-mark" viewBox="0 0 100 100">
                        <path d="M0,0 L0,100 L100,0 L0,0" />
                    </svg>
                </div>
            </div>
            <div style="width: 15px;">&nbsp;</div>
            <div class="button-container" style="margin-bottom: 20px;">
                <button cy-name="cancel-button" type="button" class="button cancel-button" (click)="closeModal()">
                    <i class="fa fa-times" aria-hidden="true"></i>
                    &nbsp;&nbsp;Cancelar
                </button>
                <svg class="button-right-border" viewBox="0 0 100 100">
                    <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
                </svg>
                <svg class="button-right-clear" viewBox="0 0 100 100">
                    <path d="M100,100 L0,100 L100,0 L100,100" fill="#240F21" />
                </svg>
                <svg class="button-left-border" viewBox="0 0 100 100">
                    <path d="M0,0 L0,100 L100,0 L0,0" fill="white" />
                </svg>
                <svg class="button-left-clear" viewBox="0 0 100 100">
                    <path d="M0,0 L0,100 L100,0 L0,0" fill="#240F21" />
                </svg>
                <div>
                    <svg class="button-right-mark ko-mark" viewBox="0 0 100 100">
                        <path d="M100,100 L0,100 L100,0 L100,100" />
                    </svg>
                    <svg class="button-left-mark ko-mark" viewBox="0 0 100 100">
                        <path d="M0,0 L0,100 L100,0 L0,0" />
                    </svg>
                </div>
            </div>
        </div>
    </footer>
</div>