<div class="row">
    <div>
        <img class="machine-image" src="/assets/media/Creality3DEnder3Pro.png">
    </div>
    <div class="machine-data">
        <div class="machine-label"><span name="label">{{node.label}}</span></div>
        <div class="machine-model"><span name="model">{{node.model}}</span></div>
        <div class="machine-characteristics"><span name="characteristics">{{node.characteristics}}</span></div>
        <div *ngIf="!target">
            <div class="machine-job" droppable [dropScope]="'JOB'" [dragOverClass]="'drag-over'" [dragHintClass]="'drag-hint'" (onDrop)="onDrop($event)"><span name="drop-job">PIEZA</span>
            </div>
        </div>
        <div *ngIf="target" class="set-job">
            <v1-pending-job-render [node]="target"></v1-pending-job-render>
        </div>
        <div *ngIf="target" class="set-job">
            <div class="machine-buildtime"><span name="build-time">{{target.part.buildTime}}</span></div>
        </div>
        <div class="centered-container" style="margin-top: 16px;">
            <button id="start-button" type="button" class="start-button" [disabled]="!target">
                <i class="fa fa-check" aria-hidden="true"></i>
                &nbsp;&nbsp;Comenzar
            </button>
            <button id="clear-button" type="button" class="clear-button">
                <i class="fa fa-times" aria-hidden="true"></i>
                &nbsp;&nbsp;Clear
            </button>
        </div>
    </div>
</div>