$container-height: 121px;
$panel-background-color: #180A16;
.panel-block {
    margin: 0px;
    padding: 0px;
    height: 122px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 4px;
}

$panel-color:white;
.panel-corner {
    position: relative;
    width: 20px;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    cursor: pointer;
}

.clip {
    display: inline-block;
    background-color: white;
    line-height: 0px;
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 19%, 100% 1%);
}

.container {
    display: inline-block;
    height: $container-height;
    width: 20px;
    background-color: $panel-background-color;
}

.container:hover {
    background-color: #172E47;
}

.topleft {
    position: absolute;
    top: 0;
    left: 0;
    width: 23px;
    fill: white;
}

.corner-topleft {
    position: absolute;
    width: 20px;
    fill: green;
}

.panel-left {
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.label {
    padding-left: 14x;
}