@import "../../../../styles/_scss_variables.scss";
.disabled-coil {
    background-color: $inactive-node-color;
}

.material-width {
    min-width: 60px;
}

.color-width {
    min-width: 260px;
}

.weight-width {
    width: 100px;
    margin-right: 20px;
}