<!-- C O I L - L I S T   V A R I A N T -->
<div *ngIf="getVariant() === '-COIL-LIST-'">
    <div class="row part-panel">
        <div class="field material-width">
            <span class="label">MATERIAL</span><br>
            <span name="material" class="field-height part-material">{{getMaterial()}}</span>
        </div>
        <div class="field color-width">
            <span class="label">COLOR</span><br>
            <span name="color" class="field-height part-color">{{getColor()}}</span>
        </div>
        <div class="field weight-width">
            <span class="label">PESO</span><br>
            <span name="color" class="field-height part-weight">{{getWeight()}}</span>
        </div>
    </div>
    <svg class="corner-border" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
    </svg>
    <svg class="corner-clear" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" fill="#180A16" />
    </svg>
    <svg class="corner-mark" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" fill="blue" />
    </svg>
</div>