@import "../../../../styles/_scss_variables.scss";
.trade-mark-width {
    min-width: 98px;
}

.material-width {
    min-width: 88px;
}

.color-width {
    min-width: 260px;
}

.weight-width {
    width: 60px;
    margin-right: 10px;
}