.material-width {
    min-width: 60px;
}

.color-width {
    min-width: 260px;
}

.weight-width {
    width: 100px;
    margin-right: 20px;
}

// - EDIT BUTTON
.edit-attributes {
    width: 50px;
    all: initial;
}

// - SAVE ICON
.save-attributes {
    width: 50px;
    all: initial;
}

.save-icon {
    margin-top: 6px;
    height: 30px;
}

// - BUTTONS
.button-enabled {
    fill: white;
}

.button-enabled:hover {
    fill: greenyellow;
}

.button-disabled {
    fill: gray;
}

.button-disabled:hover {
    fill: gray;
}