<!-- C O I L - L I S T   V A R I A N T -->
<div id="{{getUniqueId()}}" class="cornered-panel" *ngIf="getVariant() === '-COIL-LIST-'">
    <div class="row">
        <div cy-name="material" class="field material-width">
            <span cy-field-label="material" class="label">MATERIAL</span><br>
            <span cy-field-value="material" class="field-height">{{getMaterial()}}</span>
        </div>
        <div cy-name="color" class="field color-width">
            <span cy-field-label="color" class="label">COLOR</span><br>
            <span cy-field-value="color" class="field-height">{{getColor()}}</span>
        </div>
        <div cy-name="weight" class="field weight-width">
            <span cy-field-label="weight" class="label">PESO</span><br>
            <span cy-field-value="weight" class="field-height">{{getWeight()}}</span>
        </div>
    </div>
    <svg class="corner-border" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
    </svg>
    <svg class="corner-clear" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" fill="#180A16" />
    </svg>
    <svg class="corner-mark blueviolet-mark" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" />
    </svg>
</div>