<div class="row">
  <v2-coils-panel></v2-coils-panel>
  <div class="button-container" style="margin-bottom: 20px;">
    <button cy-name="cancel-button" type="button" class="button cancel-button" (click)="fireUpdate()">
        <i class="fa fa-check" aria-hidden="true"></i>
        &nbsp;&nbsp;Fire Update
    </button>
    <svg class="button-right-border" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
    </svg>
    <svg class="button-right-clear" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" fill="#240F21" />
    </svg>
    <svg class="button-left-border" viewBox="0 0 100 100">
        <path d="M0,0 L0,100 L100,0 L0,0" fill="white" />
    </svg>
    <svg class="button-left-clear" viewBox="0 0 100 100">
        <path d="M0,0 L0,100 L100,0 L0,0" fill="#240F21" />
    </svg>
    <div>
        <svg class="button-right-mark ko-mark" viewBox="0 0 100 100">
            <path d="M100,100 L0,100 L100,0 L100,100" />
        </svg>
        <svg class="button-left-mark ko-mark" viewBox="0 0 100 100">
            <path d="M0,0 L0,100 L100,0 L0,0" />
        </svg>
    </div>
</div>
</div>
