.timer-value {
    margin-top: 10px;
    font-family: "Electrolize", sans-serif;
    font-size: 41px;
    line-height: 41px;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: 0px 0px 2px yellowgreen, 0px 0px 1px yellowgreen;
    text-align: center;
    color: yellowgreen;
}

.timer-last-minute {
    color: yellow;
    text-shadow: 0px 0px 2px yellow, 0px 0px 1px yellow;
}

.timer-comleted {
    color: blue;
    text-shadow: 0px 0px 2px blue, 0px 0px 1px blue;
}