<div cy-name="panel-title" class="title">
    <span>/TRABAJOS/PENDIENTES</span>
</div>
<hr>
<viewer-panel cy-name="jobs-list" [nodes2render]="getNodes2Render()" [downloadtitle]="'Clasificando Trabajos...'" [downloader]="self" [variant]="'-JOB-LIST-'">
</viewer-panel>



<!-- <div *ngFor="let job of jobs"> -->
<!-- <div class="panel-block row">
        <div class="panel-corner clip">
            <div class="container"></div>
            <svg class="topleft" viewBox="0 0 100 100">
                <path d="M0,0 L0,100 L100,0 L0,0" />
            </svg>
        </div>
        <svg class="corner-topleft" viewBox="0 0 100 100" *ngIf="active">
            <path d="M0,0 L0,100 L100,0 L0,0" />
        </svg>
            <div class=label> -->
<!-- <div class="panel-left" draggable [dragData]="job.part" [dragScope]="'JOB'" [dragClass]="'job-selected'">
    <v1-pending-job-render [node]="job.part"></v1-pending-job-render>
</div> -->
<!-- </div>
</div>
</div> -->
<!-- </div> -->