# - IntelliJ configuration files ignorable
.idea/workspace.xml
.idea/modules/*.iml
.idea/sonarIssues.xml
.idea/sonarlint

# - Build and compilation ignorable files
.gradle/
build/
bin/
out/
target/
coverage/
.version
.app-banner
