<div class="new-request-panel" style="position: fixed;">
    <form #newRequestForm="ngForm" class="dsf-form" autocomplete="off">
        <div class="column" style="position: relative;">
            <div class="row" style="background-color: black;">
                <div class="title">
                    <span>/NUEVO PEDIDO/DEFINICION</span>
                </div>
                <div class="button-container">
                    <button cy-name="SAVE" class="button ok-button" style="width: 150px;" [disabled]="!isFormValid(newRequestForm.form.valid)" (click)="saveRequest()">
                        <span><img class="button-icon"src="/assets/media/done-white-36dp.svg"></span><span class="button-label">Guardar</span>
                    </button>
                    <svg class="button-right-border" viewBox="0 0 100 100">
                        <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
                    </svg>
                    <svg class="button-right-clear" viewBox="0 0 100 100">
                        <path d="M100,100 L0,100 L100,0 L100,100" fill="black" />
                    </svg>
                    <svg class="button-left-border" viewBox="0 0 100 100">
                        <path d="M0,0 L0,100 L100,0 L0,0" fill="white" />
                    </svg>
                    <svg class="button-left-clear" viewBox="0 0 100 100">
                        <path d="M0,0 L0,100 L100,0 L0,0" fill="black" />
                    </svg>
                    <div *ngIf="isFormValid(newRequestForm.form.valid)">
                        <svg class="button-right-mark ok-mark" viewBox="0 0 100 100">
                            <path d="M100,100 L0,100 L100,0 L100,100" />
                        </svg>
                        <svg class="button-left-mark ok-mark" viewBox="0 0 100 100">
                            <path d="M0,0 L0,100 L100,0 L0,0" />
                        </svg>
                    </div>
                </div>
                <div class="button-container">
                    <button cy-name="CANCEL" class="button cancel-button" style="width: 150px;" (click)="cancelRequest()">
                        <span><img class="button-icon" src="/assets/media/close-white-36dp.svg"></span><span class="button-label">Cancelar</span>
                    </button>
                    <svg class="button-right-border" viewBox="0 0 100 100">
                        <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
                    </svg>
                    <svg class="button-right-clear" viewBox="0 0 100 100">
                        <path d="M100,100 L0,100 L100,0 L100,100" fill="black" />
                    </svg>
                    <svg class="button-left-border" viewBox="0 0 100 100">
                        <path d="M0,0 L0,100 L100,0 L0,0" fill="white" />
                    </svg>
                    <svg class="button-left-clear" viewBox="0 0 100 100">
                        <path d="M0,0 L0,100 L100,0 L0,0" fill="black" />
                    </svg>
                    <svg class="button-right-mark orange-mark" viewBox="0 0 100 100">
                        <path d="M100,100 L0,100 L100,0 L100,100" />
                    </svg>
                    <svg class="button-left-mark orange-mark" viewBox="0 0 100 100">
                        <path d="M0,0 L0,100 L100,0 L0,0" />
                    </svg>
                </div>
            </div>
            <div class="field left-margin date-width">
                <span class="label">FECHA PEDIDO</span><br>
                <span name="requestDate" class="field-height request-requestDate">{{ getRequestDate() | date : 'mediumDate' }}</span>
            </div>
            <div class="field left-margin top-margin label-width">
                <span class="label">ETIQUETA</span><br>
                <input type="text" class="dsf-form-control dsf-editable-form-item request-label" required [(ngModel)]="request.label" name="label" minlength="5" maxlength="100">
            </div>
            <div class="field left-margin top-margin date-width">
                <span class="label">PIEZAS PEDIDO</span><br>
                <div name="requestParts">
                    <div name="requestParts" *ngFor="let part of getRequestParts()" style="position: relative;">
                        <v1-part [node]="part" [variant]="'-REQUEST-CONTAINED-PARTS-'" [container]="self"></v1-part>
                    </div>
                </div>
                <div class="request-part" name="dropParts" droppable [dropScope]=" 'PART'" [dragOverClass]=" 'drag-over'" [dragHintClass]=" 'drag-hint'" (onDrop)="onDrop($event)"><span name="drop-part"> --- PIEZAS --- </span>
                </div>
            </div>
        </div>
        <div>
            <svg class="corner-border" viewBox="0 0 100 100">
            <path d="M100,100 L0,100 L100,0 L100,100" fill="white" />
        </svg>
            <svg class="corner-clear" viewBox="0 0 100 100">
            <path d="M100,100 L0,100 L100,0 L100,100" fill="#180A16" />
        </svg>
            <svg class="corner-mark" viewBox="0 0 100 100">
            <path d="M100,100 L0,100 L100,0 L100,100" fill="orangered" />
        </svg>
        </div>
    </form>
</div>