.new-request-panel {
    position: fixed;
    width: 49%;
    border: 1px solid white;
}

.left-margin {
    margin-left: 20px;
}

.title {
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    padding-left: 30px;
    font-weight: bold;
    font-family: 'Electrolize', sans-serif;
    text-transform: uppercase;
    text-shadow: 0px 0px 2px white, 0px 0px 1px white;
    flex-grow: 3;
}

// .part-panel {
//     border: 1px solid white;
//     position: relative;
// }
.button-container {
    position: relative;
    width: 150px;
    height: 50px;
    margin-left: 15px;
}

.corner-border {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 18px;
}

.corner-clear {
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 18px;
}

.corner-mark {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 11px;
}

.request-part {
    text-align: center;
    color: #808080;
    height: 100px;
    margin-bottom: 20px;
    border: 1px dashed;
    line-height: 100px;
}

.request-label {
    min-width: 65%;
}

.drag-over {
    background-color: greenyellow;
}

.drag-hint {
    border: 2px solid green;
}

.top-margin {
    margin-top: 10px;
}