<!-- O P E N   R E Q U E S T S -->
<div #requestInstance *ngIf="getVariant() === '-OPEN-REQUESTS-'">
    <div id="{{getUniqueId()}}" class="row cornered-clickable-panel" (click)="selectRequest()" [ngClass]="{'selected': isSelected()}">
        <div cy-name="requestDate" class="field date-width">
            <div cy-field-label="requestDate" class="label">FECHA</div>
            <div cy-field-value="requestDate" class="field-height request-date">{{getRequestDate() | date}}</div>
        </div>
        <div cy-name="label" class="field label-width">
            <div cy-field-label="label" class="label">ETIQUETA</div>
            <div cy-field-value="label" class="field-height request-label">{{getLabel()}}</div>
        </div>
        <div class="row right">
            <div *ngIf="isPaid()">
                <div cy-name="paid" class="field part-count-width">
                    <div cy-field-label="paid" class="label">PAG.</div>
                    <div cy-field-value="paid" class="field-height request-part-count">
                        <i class="fa fa-check" aria-hidden="true"><span class="invisible">on</span></i>
                    </div>
                </div>
            </div>
            <div *ngIf="!isPaid()">
                <div cy-name="paid" class="field part-count-width">
                    <div cy-field-label="paid" class="label">PAG.</div>
                    <div cy-field-value="paid" class="field-height request-part-count">
                        <i class="fa fa-times" aria-hidden="true"><span class="invisible">off</span></i>
                    </div>
                </div>
            </div>
            <div cy-name="partCount" class="field part-count-width">
                <div cy-field-label="partCount" class="label">NRO. PIEZAS</div>
                <div cy-field-value="partCount" class="field-height request-part-count">{{getContentCount()}}</div>
            </div>
            <div cy-name="amount" class="field amount-width">
                <div cy-field-label="amount" class="label">IMPORTE</div>
                <div cy-field-value="amount" class="field-height request-amount">{{getAmount()}}</div>
            </div>
            <div cy-name="total" class="field total-width">
                <div cy-field-label="total" class="label">TOTAL+IVA</div>
                <div cy-field-value="total" class="field-height request-amount">{{getTotal()}}</div>
            </div>
        </div>
        <svg class="corner-border" viewBox="0 0 100 100">
            <path d="M100,100 L0,100 L100,0 L100,100" fill="blueviolet" />
        </svg>
        <svg class="corner-clear" viewBox="0 0 100 100">
            <path d="M100,100 L0,100 L100,0 L100,100" fill="#180A16" />
        </svg>
        <svg cy-field-mark="REQUEST" class="corner-mark green-mark" viewBox="0 0 100 100" [ngClass]="{'orangered-mark': !isCompleted()}">
            <path d="M100,100 L0,100 L100,0 L100,100" />
        </svg>
    </div>
</div>