.additional-margin {
    margin-right: 16px;
}

.date-width {
    min-width: 80px;
}

.amount-width {
    min-width: 56px;
}

.total-width {
    min-width: 56px;
    margin-right: 10px;
}

.request-total {
    font-weight: bold;
}

.column-missing-width {
    min-width: 40px;
}

.column-quantity-width {
    min-width: 46px;
}

.column-price-width {
    min-width: 40px;
}

.column-label-width {
    min-width: 50%;
}

.column-material-width {
    min-width: 105px;
}

// - BUTTON POSITIONING
.float-top-right {
    position: absolute;
    top: 6px;
    right: 6px;
}

.below-top-right {
    position: absolute;
    top: 52px;
    right: 6px;
}

.edit-button-location {
    position: absolute;
    top: 98px;
    right: 6px;
}