.index-loading {
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 1px 3px #1A53FF, 0px -1px 3px #1A53FF;
    font-family: 'Electrolize', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #1A53FF;
    margin-top: 64px;
}

.loading-box {
    border: 2px solid #1A53FF;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
}