// - T O O L T I P
@import "./styles/global-styles.scss";
@import "./styles/dialog.scss";
@import "./styles/dsf-tooltip.scss";
@import "./styles/dsf-forms.scss";
@import "./styles/renders.style.scss";
@import "./styles/corner-buttons.style.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine-dark/sass/ag-theme-alpine-dark.scss";
.ag-theme-alpine {
    @include ag-theme-alpine-dark();
}

.ag-theme-alpine-dark .ag-row {
    font-family: 'Mina', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.ag-theme-alpine-dark .ag-cell {
    padding-left: 8px;
    padding-right: 8px;
}

.ag-theme-alpine-dark .ag-header-cell {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 16px;
}

hr {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    filter: blur(1px);
}

$page-path-color: white;
.page-path {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Electrolize', sans-serif;
    margin-top: 10px;
    text-transform: uppercase;
    text-shadow: 0px 0px 2px $page-path-color, 0px 0px 1px $page-path-color;
    color: $page-path-color;
}