<div class="cornered-clickable-panel" (click)="refresh()">
    <div class="row">
        <div cy-name="work-load" class="field">
            <div cy-field-label="work-load" class="label">TOTAL MINUTOS</div>
            <div cy-field-value="work-load" class="field-height work-minutes">{{getWorkLoad()}}</div>
        </div>
    </div>
    <svg class="corner-border" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" fill="darkviolet" />
    </svg>
    <svg class="corner-clear" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" fill="#180A16" />
    </svg>
    <svg class="corner-mark blueviolet-mark" viewBox="0 0 100 100">
        <path d="M100,100 L0,100 L100,0 L100,100" />
    </svg>
</div>