.left-margin {
    margin-left: 10px;
}

.top-margin {
    margin-top: 10px;
}

.request-part {
    text-align: center;
    color: #808080;
    margin-bottom: 20px;
    border: 1px dashed;
    line-height: 50px;
}

.drag-over {
    background-color: greenyellow;
}

.drag-hint {
    border: 2px solid green;
}

.count-width {
    width: 46px;
}

.material-width {
    width: 192px;
}

.field {
    font-size: 14px !important;
}