<div class="field left-margin top-margin date-width">
    <span class="label">PIEZAS PEDIDO</span><br>
    <div class="request-part" cy-name="dropParts" droppable [dropScope]=" 'PART'" [dragOverClass]=" 'drag-over'" [dragHintClass]=" 'drag-hint'" (onDrop)="onDrop($event)"><span> --- PIEZAS --- </span>
    </div>
    <div cy-name="droppedParts">
        <div *ngFor="let dropPart of getDroppedParts()" style="position: relative;">
            <v1-part-stack [node]="dropPart" [variant]="'-DEFAULT-'" [container]="self"></v1-part-stack>
        </div>
    </div>
</div>