@import "../styles/_scss_variables.scss";
$app-title-color: #FF0000; // Red 50%
$app-version-color: blueviolet;
.app-title {
    font-size: 32px;
    font-weight: bold;
    font-family: 'Electrolize', sans-serif;
    text-transform: uppercase;
    text-shadow: 0px 1px 3px $app-title-color, 0px -1px 3px $app-title-color;
    color: $app-title-color;
    padding: 6px;
    flex-grow: 2;
}

.app-version {
    font-family: $app-font-family, sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: $app-version-color;
    padding-left: 20px;
    text-shadow: none;
    text-transform: none;
    cursor: pointer;
}

.backend-version {
    font-family: $app-font-family, sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: $app-title-color;
    padding-left: 20px;
    text-shadow: none;
    text-transform: none;
}

.stiky-header {
    position: sticky;
    top: 0px;
    background: black;
    opacity: 1.0;
    z-index: 1;
    padding-top: 8px;
}