<div class="row"><span cy-name="app-title" class="app-title">{{appTitle}}</span>
    <div>
        <span cy-name="app-version" class="app-version">{{appVersion}}</span><br>
        <span cy-name="backend-version" class="backend-version">{{backendVersion}}</span>
    </div>
    <div class="row right">
        <v1-billing-chart-panel></v1-billing-chart-panel>
        <v1-work-load-panel></v1-work-load-panel>
    </div>
</div>
<div cy-name="page-path" class="page-path">/DASHBOARD</div>
<hr>
<v1-dock></v1-dock>
<hr style="margin-top: 7px;">
<router-outlet (activate)="setRoutedComponent($event)"></router-outlet>