<div class="stiky-header">
    <div class="row">
        <div class="column">
            <div cy-name="app-title" class="app-title">
                <a href="assets/manual/Manual-Procedimientos.pdf" target="_blank">{{appTitle}}</a>
            </div>
            <div cy-name="page-path" class="page-path">/DASHBOARD</div>
        </div>
        <div>
            <span cy-name="app-version" class="app-version" (click)="openPatchNotes()">{{appVersion}}</span><br>
            <span cy-name="backend-version" class="backend-version">{{backendVersion}}</span>
        </div>
        <div class="row right">
            <v1-billing-chart-panel></v1-billing-chart-panel>
            <v1-work-load-panel></v1-work-load-panel>
        </div>
    </div>
    <v1-dock></v1-dock>
</div>
<router-outlet (activate)="setRoutedComponent($event)"></router-outlet>